#grad1 {
    margin-top: -20px;
    height: 50%;
    width: auto;
    background: purple; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#182978, #1fa7ac); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#182978, #1fa7ac); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#182978, #1fa7ac); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#182978, #1fa7ac); /* Standard syntax (must be last) */
}

.fastsearch {
    background: purple; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1fa7ac, #182978); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1fa7ac, #182978); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1fa7ac, #182978); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1fa7ac, #182978); /* Standard syntax (must be last) */
}
