

.slider {

  //overflow: hidden;
  position: relative;
  background: #e6e6e6;

}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;


}


@keyframes shake {
  0% {transform: translateX(0);}
  12.5% {transform: translateX(-6px) rotateY(-5deg)}
  37.5% {transform: translateX(5px) rotateY(4deg)}
  62.5% {transform: translateX(-3px) rotateY(-2deg)}
  87.5% {transform: translateX(2px) rotateY(1deg)}
  100% {transform: translateX(0)}
}

.shake {
  animation: shake 400ms ease-in-out;
}
 




.caro {
  max-height: 500px;
}

.didd {
  width: 100%;
  float: left;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  color: black;
  background-color: white;
}

.btn-default:active, .btn-default.active, .btn-default:visited
.btn-default:active:hover, .btn-default.active:hover {
  color: black;
  background-color: white;
}

.btn-default {
  color: black;
  background-color: white;
}

.btn-default:hover {
  color: black;
  background-color: white
}

.btn-default:focus {
  color: black;
  background-color: white
}