<div></div>
<a href="#" id="go"></a>
<div id="your-pano"></div>

<div class="col-md-3">
    <span class="btn btn-primary btn-file">העלה תמונת 360
    <input type="file" name="pano" id="pano" onchange="angular.element(this).scope().onOpen360File()"/>
    </span>
</div>

<div class="col-md-3 col-md-offset-3">
    <p>
        <a ng-click="loadPrev360Image()" style="cursor: pointer">
            <span style="font-size: xx-large" class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </p>
</div>
<div class="col-md-3">
    <p>
        <a ng-click="loadNext360Image()" style="cursor: pointer">
            <span style="font-size: xx-large" class="glyphicon glyphicon-chevron-left"></span>
        </a>
    </p>
</div>

