<p>&nbsp;</p>

<div dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">תודה שהחלטת לפרסם אצלנו.</span></div>

<div dir="RTL"><span style="font-family:arial,helvetica,sans-serif;"><span style="color:#4B0082;">דירות ב 360</span> נותנת לך את כל הכלים למכור או להשכיר את הדירה שלך.</span></div>

<div dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">אצלנו אין מגבלות,תוכל להעלות עד <u>150 מגה</u> של תמונות, וידאו ב 360 תמונות ב 360&nbsp;</span></div>

<div dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">תמונות סטילס ישירות מהנייד או מהמחשב ואפילו לצלם וידאו.</span></div>

<div dir="RTL"><font face="arial, helvetica, sans-serif">נלמד אותך להכין תמונות 360 באמצעות הטלפון - האיכות לא גבוהה..</font></div>

<div dir="RTL"><font face="arial, helvetica, sans-serif">בכדי להגדיל את הסיכויים שלך תוכל לבקש מאיתנו את שאר השרותים של סיור וירטואלי&nbsp;</font></div>

<div dir="RTL"><font face="arial, helvetica, sans-serif">וכל הצילומים ב 360. המחיר הוא 150 שקלים.</font></div>

<div dir="RTL"><font face="arial, helvetica, sans-serif">המחיר כולל הגעה של צלם לדירה ועריכה בתוכנה מקצועית.</font></div>

<div dir="RTL"><font face="arial, helvetica, sans-serif">מי שיודע לעשות את כל התהליך לבד יכול להעלות את התמונות ב 360 או הסיור בלי עלות.</font></div>

<div dir="RTL"><font face="arial, helvetica, sans-serif">פרסום הדירה הוא לחצי שנה.</font></div>

<div dir="RTL"><font face="arial, helvetica, sans-serif">שימו לב שניתן אצלנו למחוק מודעה לחלוטין כולל על המידע, התמונות והוידאו וכן</font></div>

<div dir="RTL"><font face="arial, helvetica, sans-serif">ניתן למחוק את החשבון.</font></div>
