<form id="uploadForm2"
      enctype="multipart/form-data"
      action="/api/photo"
      method="post">

              <span class="btn btn-primary btn-file">

העלה תמונת 360
              <input id="fileInputElementfirst2"
                     data-classIcon="icon-plus"
                     data-buttonText="בחר תמונה"
                     name="images" ,
                     accept="image/jpeg"
                     type="file"
                     multiple="false"
                     data-ng-model="theFile2"
                     onchange="angular.element(this).scope().fileNameChanged2()"
                      />
                  </span>


</form>
