<div class="row">
    <div class="col-md-4">
        <div class="form-group" style="white-space:nowrap"
             ng-class="{ 'has-error': form.propertyType.$error.required }">
            <label class="control-label col-sm-3" for="propertyType">סוג הנכס</label>

            <div class="col-sm-9">
                <select class="form-control" placeholder="בחר את סוג הנכס למכירה"
                        name="propertyType"
                        ng-change="updateViewOnPropertyType(item)"
                        ng-model="item.propertyType">
                    <option>דירה</option>
                    <option>דירת גן</option>
                    <option>דירת גג/פנטהאוז</option>
                    <option>סטודיו</option>
                    <option>מרתף/פרטר</option>
                    <option>דופלקס</option>
                    <option>טריפלקס</option>
                    <option>קוט'ג טורי</option>
                    <option>דו משפחתי</option>
                    <option>יחידת דיור</option>
                </select>
            </div>
        </div>
        <div class="form-group" style="white-space:nowrap"
             ng-class="{ 'has-error': form.city.$error.required }">
            <label class="control-label col-sm-3" for="propertyType">עיר</label>

            <div class="col-sm-9">
                <ui-select id="city"
                           on-select="getcity(item.city,$index)"
                           theme="bootstrap" ng-model="item.city"
                           required>
                    <ui-select-match placeholder="בחר עיר">
                        <span ng-bind="$select.selected"></span>
                    </ui-select-match>
                    <ui-select-choices
                            repeat="city in vm.citiesOnly |filter : $select.search">
                        <span ng-bind-html="city | highlight : $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group" style="white-space:nowrap"
             ng-class="{ 'has-error': form.area.$error.required }">
            <label class="control-label col-sm-3" for="">אזור</label>

            <div class="col-sm-9">
                        <span ng-show="item.shownapa">

                            {{ AREA }}
                            &nbsp;
                            נפת
                            &nbsp;

                            {{ NAPA }}
                            <!--{{ item.code }}-->
                        </span>
            </div>
        </div>
        <div class="form-group" style="white-space:nowrap"
             ng-class="{ 'has-error': form.street.$error.required }">
            <label class="control-label col-sm-3 removeoutline"  ng-click="clearselect(0)" for="street">רחוב</label>

            <div class="col-sm-9">
                <ui-select id="street"
                           on-select="getstreet(item.street)"
                           theme="bootstrap" ng-model="item.street">
                    <ui-select-match placeholder="בחר רחוב">
                        <span ng-bind="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices
                            repeat="street in vm.streets |filter : $select.search">
                        <span ng-bind-html="street.name | highlight : $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group" style="white-space:nowrap">
            <label class="control-label col-sm-3 removeoutline" ng-click="clearselect(1)"  for="neighborhood">שכונה</label>

            <div class="col-sm-9">
                <ui-select id="neighborhood"
                           theme="bootstrap" ng-model="item.neighborhood">
                    <ui-select-match placeholder="בחר שכונה">
                        <span ng-bind="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices
                            repeat="n in vm.neighborhoods |filter : $select.search">
                        <span ng-bind-html="n.name | highlight : $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>


        <div class="form-group" style="white-space:nowrap"
             ng-class="{ 'has-error': (form.housenumber.$error.required )}">
            <label class="control-label col-sm-3" for="housenumber">מספר הבית</label>

            <div class="col-sm-9">
                <input type="number" name="housenumber"
                       placeholder="גודל דירה כולל מרפסת וגינה" class="form-control"
                       ng-model="item.housenumber">
            </div>
        </div>

        <div class="form-group" style="white-space:nowrap">
            <label class="control-label col-sm-3" for="yearsofproperty">גיל הנכס</label>

            <div class="col-sm-9" ng-class="{ 'has-error': (form.yearsofproperty.$error.required )}">
                <input type="number" ng-max="150" name="yearsofproperty" required
                       placeholder="כמה שנים הנכס קיים בשנים" class="form-control"
                       ng-model="item.yearsofproperty">
                <span style="color:red" ng-show="form.yearsofproperty.$error.max">גיל הנכס גדול מ 150</span>
            </div>
        </div>
        <div class="form-group" ng-hide="item.privateHouse">
            <label class="control-label col-sm-3" for="floor">קומה</label>

            <div class="col-sm-4" ng-class="{ 'has-error': (form.floor.$error.required )}">
                <select name="floor" class="form-control"
                        ng-model="item.floor"
                        required
                        ng-class="{ 'has-error': form.floor.$error.required }">
                    <option ng-repeat="it in vm.numberfloors" value="{{it}}">
                        {{it}}
                    </option>
                </select>
            </div>

            <label class="control-label col-sm-1" for="fromfloor">מתוך</label>

            <div class="col-sm-4" ng-class="{ 'has-error': (form.fromfloor.$error.required )}">
                <select name="fromfloor" class="form-control"
                        ng-model="item.fromfloor"
                        required
                        ng-class="{ 'has-error': form.fromfloor.$error.required }">
                    <option ng-repeat="item in vm.numberfloors" value="{{item}}">
                        {{item}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group" ng-show="item.privateHouse">
            <label class="control-label col-sm-3" for="numoffloors">קומות</label>
            <div class="col-sm-3" ng-class="{ 'has-error': form.numoffloors.$error.required }">
                <select name="floor" class="form-control"
                        ng-model="item.numoffloors">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>

            <label class="control-label col-sm-2" for="basement">מרתף</label>
            <div class="col-sm-4">
                <select name="floor" class="form-control"
                        ng-model="item.basement"
                        ng-class="{ 'has-error': form.floor.$error.required }">
                    <option>כן</option>
                    <option>לא</option>
                </select>
            </div>


        </div>


        <div class="form-group" style="white-space:nowrap"
             ng-class="{ 'has-error': form.squresize.$error.required }">
            <label class="control-label col-sm-3" for="squresize">גודל דירה</label>

            <div class="col-sm-9">
                <input type="number" name="squresize" required
                       placeholder="גודל דירה כולל מרפסת וגינה" class="form-control"
                       ng-model="item.squresize">
            </div>
        </div>

        <div class="form-group" style="white-space:nowrap" ng-show="item.privateHouse"
             ng-class="{ 'has-error': form.fieldsquresize.$error.required}">
            <label class="control-label col-sm-3" for="fieldsquresize">גודל מיגרש</label>

            <div class="col-sm-9">
                <input type="number" name="fieldsquresize" required
                       ng-change="saveModel()"
                       placeholder="גודל המגרש כולו במטר מרובע" כ class="form-control"
                       ng-model="item.fieldsquresize">
            </div>
        </div>


        <div class="form-group" style="white-space:nowrap"
             ng-class="{ 'has-error': form.numberofrooms.$error.required }">
            <label class="control-label col-sm-3" for="numberofrooms">מספר חדרים</label>

            <div class="col-sm-9">
                <select name="numberofrooms"
                        class="form-control" ng-model="item.numberofrooms">
                    <option ng-repeat="item in vm.numberOfRooms" value="{{item}}">
                        {{item}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group" style="white-space:nowrap"
             ng-class="{ 'has-error': form.balcony.$error.required }">
            <label class="control-label col-sm-3" for="balcony">מרפסת</label>

            <div class="col-sm-9">
                <select name="balcony" class="form-control"
                        ng-model="item.balcony">
                    <option ng-repeat="item in vm.balconies" value="{{item}}">{{item}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group" style="white-space:nowrap" ng-show="item.balcony != 'אין'"
             ng-class="{ 'has-error': form.balconysize.$error.required}">
            <label class="control-label col-sm-3" for="balconysize">גודל מירפסת</label>

            <div class="col-sm-9">
                <input type="number" name="balconysize" required
                       ng-change="saveModel()"
                       placeholder="גודל מירפסת"
                       class="form-control"
                       ng-model="item.balconysize">
            </div>
        </div>


    </div>
    <div class="col-md-4">
        <div class="form-group"
             ng-class="{ 'has-error': form.aircond.$error.required }">
            <label class="control-label col-sm-3" for="aircond">מזגן </label>

            <div class="col-sm-9">
                <select class="form-control" placeholder="בחר את התצורה של המזגנים בבית"
                        name="aircond"
                        ng-change="getaircond(item.aircond)"
                        ng-model="item.aircond">
                    <option>אין</option>
                    <option>מיני מרכזי כל הבית</option>
                    <option>שני מיני מרכזיים</option>
                    <option>מזגן יחיד בסלון</option>
                    <option>מזגן יחיד בחדר שינה הורים</option>
                    <option>מזגן עצמאי בכל חדר</option>
                    <option>שני מזגנים</option>
                    <option>שלושה מזגנים</option>
                    <option>יש מזגן רק לא מצאתי ברשימה</option>
                </select>
            </div>
        </div>

        <div class="form-group"
             ng-class="{ 'has-error': form.parking.$error.required  }">
            <label class="control-label col-sm-3" for="parking">חנייה </label>

            <div class="col-sm-9">
                <select class="form-control" placeholder="בחר את התצורה של החנייה אם יש"
                        name="parking"
                        ng-change="getparking(item.parking)"
                        ng-model="item.parking">
                    <option>אין</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
        </div>

        <div class="form-group" ng-if="shoparkingoptions"
             style="white-space:nowrap"
             ng-class="{ 'has-error': form.parkingType.$error.required  }">
            <label class="control-label col-sm-3" for="parkingType">מיקום החנייה</label>

            <div class="col-sm-9">
                <select class="form-control" placeholder="בחר את סוג החנייה"
                        name="parkingType"
                        ng-model="item.parkingType">
                    <option>קרקע</option>
                    <option>מתחת לקרקע</option>
                </select>
            </div>
        </div>

        <div class="form-group" ng-if="shoparkingoptions2"
             style="white-space:nowrap">
            <label class="control-label col-sm-3" for="parkingtype2">אופי החנייה</label>

            <div class="col-sm-9" ng-class="{ 'has-error': form.parkingtype2.$error.required  }">
                <select class="form-control" placeholder="בחר את סוג החנייה"
                        name="parkingtype2"
                        ng-model="item.parkingtype2">
                    <option>צמודות אחת ליד השנייה</option>
                    <option>צמודות אחת אחרי השנייה</option>
                    <option>סידור אחר</option>
                </select>
            </div>
        </div>

        <div class="form-group"
             style="white-space:nowrap"
             ng-class="{ 'has-error': form.warehouse.$error.required  }">
            <label class="control-label col-sm-3" for="warehouse">מחסן</label>

            <div class="col-sm-9">
                <select class="form-control" placeholder="מספר מחסנים"
                        name="warehouse"
                        ng-model="item.warehouse">
                    <option>אין</option>
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>
        </div>

        <div class="form-group" ng-hide="item.privateHouse"
             style="white-space:nowrap">
            <label class="control-label col-sm-3" for="elevator">מעליות</label>

            <div class="col-sm-9" ng-class="{ 'has-error': form.elevator.$error.required  }">
                <select class="form-control" placeholder="מספר מעליות"
                        name="elevator"
                        ng-model="item.elevator">
                    <option>אין</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>יותר מחמש</option>
                </select>
            </div>
        </div>

        <div class="form-group"
             style="white-space:nowrap">
            <label class="control-label col-sm-3" for="elevator">מרחב מוגן</label>

            <div class="col-sm-9" ng-class="{ 'has-error': form.mamad.$error.required  }">
                <select class="form-control" placeholder="האם יש בבית מרחב מוגן?"
                        name="mamad"
                        ng-model="item.mamad">
                    <option>כן</option>
                    <option>לא</option>
                </select>
            </div>
        </div>


        <div class="form-group"
             style="white-space:nowrap">
            <label class="control-label col-sm-3" for="renovated">מצב הדירה</label>

            <div class="col-sm-9" ng-class="{ 'has-error': form.renovated.$error.required  }">
                <select class="form-control" placeholder="מצב הדירה"
                        name="renovated"
                        ng-model="item.renovated">
                    <option>כחדשה</option>
                    <option>שופצה במלואה</option>
                    <option>שופצה חלקית</option>
                    <option>מצב מצויין אבל לא עברה שיפוץ</option>
                    <option>זקוקה לשיפוץ</option>
                    <option>משהו אחר</option>
                </select>
            </div>
        </div>


        <div class="form-group" ng-show="shoprenovatedexp"
             style="white-space:nowrap">
            <label class="control-label col-sm-3" for="renovatedexplnation">פרט
                מצב</label>

            <div class="col-sm-9" ng-class="{ 'has-error': form.renovatedexplnation.$error.required }">
                <input type="text" name="renovatedexplnation"
                       placeholder="מה רצית לומר על מצב הדירה?" class="form-control"
                       ng-model="item.renovatedexplnation">
            </div>
        </div>

        <div class="form-group"
             style="white-space:nowrap">
            <label class="control-label col-sm-3" for="price">מחיר</label>

            <div class="col-sm-9" ng-class="{ 'has-error': form.price.$error.required}">
                <input type="number" name="price" required
                       placeholder="מחיר בשקלים" class="form-control"
                       ng-model="item.price">
            </div>
        </div>

        <div class="form-group" style="white-space:nowrap">

            <div class="col-sm-5 col-sm-offset-2">
                <label for="soragim"> גישה לנכים &nbsp&nbsp;</label>
                <input type="checkbox" ng-model="item.handycupt" id="handycupt">
            </div>

            <div class="col-sm-5">
                <label for="soragim"> סורגים</label>
                <input type="checkbox" id="soragim" ng-model="item.soragim">
            </div>
        </div>


        <div class="form-group" style="white-space:nowrap">

            <div class="col-sm-5">
                <label for="immidiate"> כניסה מיידית</label>
                <input type="checkbox" id="immidiate" ng-model="item.immidiate">
            </div>
            <div class="col-sm-7" ng-if="item.immidiate == false">
                <input  id="datepickid{{item.id}}" type=date class="form-control">
            </div>
        </div>

        <div class="row" style="height: 110px">

        </div>
        <div class="form-group"
             style="white-space:nowrap">
            <label class="control-label col-sm-3" for="freedetails"> מידע נוסף</label>

            <div class="col-sm-9">
                        <textarea id="new_message"
                                  style="border-color: gray"
                                  placeholder="ספר על הדירה שלך"
                                  rows="6" cols="50" ng-model="item.freedetails"/>
            </div>
        </div>


    </div>

    <div class="col-md-4">


        <div class="panel panel-info">
            <div class="panel-heading">פרטים ליצירת קשר</div>
            <div class="panel-body">


                <div class="form-group" style="white-space:nowrap">
                    <label class="control-label col-sm-3" for="primarycellphone">נייד
                        ראשי</label>

                    <div class="col-sm-9">

                        <input class="form-control input-phone" style="direction: ltr"
                               placeholder="מספר טלפון נייד ראשי"
                               class="form-control"
                               name="primarycellphone" type='text' phone-input
                               ng-model="item.primarycellphone"/>
                    </div>
                </div>

                <div class="form-group" style="white-space:nowrap">
                    <label class="control-label col-sm-3" for="secondarycellphone">נייד
                        משני</label>

                    <div class="col-sm-9">
                        <input class="form-control input-phone" style="direction: ltr"
                               placeholder="מספר טלפון נייד משני"
                               class="form-control"
                               name="secondarycellphone" type='text' phone-input
                               ng-model="item.secondarycellphone"/>

                    </div>
                </div>

                <div class="form-group" style="white-space:nowrap">
                    <label class="control-label col-sm-3" for="homephome">טלפון
                        בבית</label>

                    <div class="col-sm-9">

                        <input class="form-control input-phone" style="direction: ltr"
                               placeholder="טלפון בבית" class="form-control"
                               name="homephone" type='text' phone-input
                               ng-model="item.homephone"/>

                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-sm-3" for="officephone">טלפון
                        במישרד</label>

                    <div class="col-sm-9">
                        <input class="form-control input-phone" style="direction: ltr"
                               placeholder="טלפון במישרד" class="form-control"
                               name="officephone" type='text' phone-input
                               ng-model="item.officephone"/>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error': (form.email.$invalid )}">
                    <label class="control-label col-sm-3" for="email">אימייל</label>

                    <div class="col-sm-9">
                        <input type="email" name="email"
                               placeholder="אמייל - לא חייב להיות הרשום"
                               class="form-control"
                               ng-model="item.email">
                    </div>
                </div>
                <div>

                                <span style="color:lightcoral">
                                    כל נתוני התקשורות אינם חובה מתוך כיבוד שמירת הפרטיות
                                    <br>
                                    שליחת ההודעה תהיה מהמייל של האתר וכן באמצעות
                                    <br>
                                    מערכת מספרים אוטומטית 1900
                                    <br>
                                    <span ng-show="isagent">
                                    מתווכים יכולים להשאיר מספר פרטי התקשרות
או גם להשתמש בשרות 1900
                                    </span>
                                </span>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 30px">
    <div class="form-group">
        <div class="col-sm-3 col-sm-offset-6">
            <button type="submit"
                    id='updatechangesbtnid{{ item.id }}'
                    ng-disabled="form.$invalid"
                    ng-click="saveChanges(item)"
                    class="btn btn-primary">
                עדכן נתונים
            </button>
        </div>
    </div>

</div>

<div class="row" style="margin-right: 15px;border: inset">
    <div>
        <p style="font-size: 20pt">
        <div style="text-align: center;font-size: 20pt">
            תמונות סטילס
        </div>
        <span ng-show="isagent">
            יש לכם עד 1GIGA מקום להעלות תמונות, וידאו, סיורים וירטואלים תמונות ,360 לכל  המודעות ביחד
        </span>
        <span ng-show="!isagent">
יש לכם עד 150 מגה מקום להעלות תמונות, וידאו, סיורים וירטואלים ,תמונות 360 לכל  המודעות ביחד
        </span>
        </p>
    </div>

    <div ng-if="item.showwaitcircle" style="font-size:20pt; text-align: center; color: orangered"
         class="animated infinite tada">

        מעלה קובץ...

    </div>
    <div ng-include="'client/templates/pictureupload11.html'">

    </div>

    <div ng-include="'client/templates/updatehousecrousle.html'">

    </div>


</div>
<div class="row" style="margin-top: 50px;border: inset;margin-right: 10px">
    <div ng-if="item.showwaitcircle360" style="font-size:20pt; text-align: center; color: orangered"
         class="animated infinite tada">

        מעלה קובץ...

    </div>
    <div ng-include="'client/templates/image360.html'">

    </div>
</div>
<div class="row" style="border: inset;margin-top: 80px">


    <div ng-if="item.showwaitcirclevideo" style="font-size:20pt; text-align: center; color: orangered"
         class="animated infinite tada">

        מעלה קובץ...

    </div>

    <div style="text-align: center;font-size: 20pt">
        וידאו רגיל - אפשר מכל מצלמה כולל נייד
    </div>
    <div>
        <br>
        שימו לב: בכדי להעלות וידאו שלא יתפוס מקום רב ותוכלו לצלם זמן ארוך יותר בטלפון שלכם
        <br>
        יש לכוון את ההגדרות של הוידאו למצב VGA.מצב זה יאפשר להקליט זמן ארוך יותר.
        אל תשכחו להחזיר חזרה את ההגדרות לאיכות שהייתה קודם למשל full hd
        ההגדרה הזו מורידה באיכות התמונה ולפיכך נותנת לכם זמן ארוך יותר באותו גודל.
        <br>
        <a ui-sref="howto360?recordlongvideo">
            להסברים נוספים
        </a>
        <br>
    </div>


    <div class="row">
        <div class="col-md-3">
            <div ng-include="'client/templates/videoregularloadermultiple.html'">

            </div>
        </div>
        <div class="col-md-3">
            <input type="text" ng-model="item.videoName"
                   placeholder="ניתן לתת ,מיקום שם לתמונה " class="form-control" id="nameofimage">
        </div>
        <div class="col-md-3">

            <input type="button" class="btn btn-default" ng-click="SaveVideoName(item)" value="שמור שם"/>


            <input type="button" class="btn btn-default" ng-click="DeleteVideo(item)" value="מחק"/>


        </div>
        <div class="col-md-3" id="videoregularglyps{{item.id}}">
            <div class="row">
                <div class="col-md-12">

                    <a ng-click="loadPrevVideo(item, $index)" style="cursor: pointer">
                        <span style="font-size: x-large" class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    {{ item.currentVideoStatus}}
                    <a ng-click="loadNextVideo(item, $index)" style="cursor: pointer">
                        <span style="font-size: x-large" class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div ng-include="'client/templates/videoregular_multiple.html'">

    </div>

</div>
<div class="row" style="margin-top: 50px;border: inset">

    <div style="text-align: center;font-size: 20pt;margin-right: 10px">
        וידאו 360 - וידאו ממצלמת 360 מיוחדת
    </div>
    <div>
        וידאו ממצלמת 360 נותן לכם אפשרות לראות בתנועה ולשמוע ב 360 מעלות.
        <br>
        את הוידאו ניתן לראות גם משקפת וירטואל ראליטי ישירות מהאתר על ידי גלישה מהמשקפת בדפדפן VR
        <br>
        <a ui-sref="vrpage">ללפרטים נוספים על גלישה ב VR</a>
    </div>


    <div ng-if="item.showwaitcirclevideo360" style="font-size:20pt; text-align: center; color: orangered"
         class="animated infinite tada">
        מעלה קובץ...
    </div>
    <div ng-include="'client/templates/video360loader2.html'">

    </div>
    <button type="button" class="btn btn-info" ng-click="Show360Video(item.id)">הראה וידאו ב360</button>

</div>