<div>

    <div style="margin-top:10px;display: none; height: 600px" id="videodiv{{ item.id }}">
        <videogular vg-player-ready="vm.onPlayerReady($API)"
                    vg-theme="item.config.theme">
            <vg-media vg-src="item.config.sources"
                      vg-tracks="item.config.tracks">
            </vg-media>
            <vg-controls>
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>
            <vg-overlay-play></vg-overlay-play>
            <vg-poster vg-url='item.config.plugins.poster'></vg-poster>
        </videogular>
    </div>

        <!--
    <div class="h_iframe" id="videodiv{{ item.id }}">
        <img class="ratio" src="http://placehold.it/16x9"/>
        <iframe  src="{{item.videosrc}}" frameborder="0"
                 allowfullscreen></iframe>
    </div>
    -->

</div>