<form id="videoregularloaderinputForm"
      enctype="multipart/form-data"
      method="post">
              <span class="btn btn-primary btn-file">
    העלה וידאו רגיל
              <input id="videoregularloaderinput"
                     data-classIcon="icon-plus"
                     name="images" ,
                     accept="video/mp4,video/x-m4v,video/*"
                     type="file"
                     multiple="false"
                     onchange="angular.element(this).scope().videoregularloaderinputChanged(item)"
                      />
                  </span>
</form>
