<style>


    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }


    .carousel-control.left, .carousel-control.right {
        background: none !important;
        color:red;
        filter: progid: none !important;
        outline: 0;
    }

    label {
        font-weight: normal !important;
        text-align: right;
    }

    .form-horizontal .control-label {
        text-align: right;
    }

    /*
        .btn-default:active, .btn-default.active, .btn-default:visited
        .btn-default:active:hover, .btn-default.active:hover {
            color: gray;
            background-color: white;
        }

        .btn-default {
            color: gray;
            background-color: white;
        }

        .btn-default:hover {
            color: gray;
            background-color: white
        }

        .btn-default:focus {
            color: gray;
            background-color: white
        }
        */
    .ui-select-bootstrap .ui-select-toggle > .caret {
        right: initial;
        left: 10px;
        /* or any other value - it should be the same as the original right value */
    }

    .ui-select-bootstrap > .ui-select-match > .btn {
        text-align: right !important;
        direction: rtl;
        background-color: white;
        color: black;
    }

    .ui-select-bootstrap > .ui-select-choices > .btn > span.pull-left {
        float: right !important;
    }

    .ui-select-bootstrap > .ui-select-match > .btn > span.pull-left {
        float: right !important;
    }
</style>


<div class="container" ng-controller="addnewrenthouseController as vm">


    <div class="form-horizontal">
        <form name="form">

            <div class="row" ng-hide="showstate2">
                <div class="col-md-4">
                    <div class="form-group" style="white-space:nowrap"
                         ng-class="{ 'has-error': form.propertyType.$error.required }">
                        <label class="control-label col-sm-3" for="propertyType">סוג הנכס</label>

                        <div class="col-sm-9">
                            <select class="form-control" placeholder="בחר את סוג הנכס למכירה"
                                    name="propertyType"
                                    ng-change="saveModel()"
                                    ng-model="vm.card.propertyType">
                                <option>דירה</option>
                                <option>דירת גן</option>
                                <option>דירת גג/פנטהאוז</option>
                                <option>סטודיו</option>
                                <option>מרתף/פרטר</option>
                                <option>דופלקס</option>
                                <option>טריפלקס</option>
                                <option>דו משפחתי</option>
                                <option>יחידת דיור</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group" style="white-space:nowrap"
                         ng-class="{ 'has-error': form.city.$error.required }">
                        <label class="control-label col-sm-3" for="propertyType">עיר</label>

                        <div class="col-sm-9">
                            <ui-select id="city"
                                       on-select="getcity(vm.card.city)"
                                       theme="bootstrap" ng-model="vm.card.city"
                                       required>
                                <ui-select-match placeholder="בחר עיר">
                                    <span ng-bind="$select.selected"></span>
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="city in vm.citiesOnly |filter : $select.search">
                                    <span ng-bind-html="city | highlight : $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>


                    <div class="form-group" style="white-space:nowrap"
                         ng-class="{ 'has-error': form.area.$error.required }">
                        <label class="control-label col-sm-3" for="">אזור</label>

                        <div class="col-sm-9">
                        <span ng-show="shownapa">
                            {{ AREA }}
                            &nbsp;
                            נפת
                            &nbsp;
                            {{ NAPA }}
                            <!--{{ vm.card.code }}-->
                        </span>
                        </div>
                    </div>

                    <div class="form-group" style="white-space:nowrap"
                         ng-class="{ 'has-error': form.street.$error.required }">
                        <label class="control-label col-sm-3" for="street">רחוב</label>

                        <div class="col-sm-9">
                            <ui-select id="street"
                                       on-select="getstreet(vm.card.street)"
                                       theme="bootstrap" ng-model="vm.card.street"
                                       required>
                                <ui-select-match placeholder="בחר רחוב">
                                    <span ng-bind="$select.selected.name"></span>
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="street in vm.streets |filter : $select.search">
                                    <span ng-bind-html="street.name | highlight : $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group" style="white-space:nowrap"
                         ng-class="{ 'has-error': form.neighborhood.$error.required }">
                        <label class="control-label col-sm-3" for="neighborhood">שכונה</label>

                        <div class="col-sm-9">
                            <ui-select id="neighborhood"
                                       on-select="saveModel()"
                                       theme="bootstrap" ng-model="vm.card.neighborhood"
                                       required>
                                <ui-select-match placeholder="בחר שכונה">
                                    <span ng-bind="$select.selected.name"></span>
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="n in vm.neighborhoods |filter : $select.search">
                                    <span ng-bind-html="n.name | highlight : $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>


                    <div class="form-group" style="white-space:nowrap"
                         ng-class="{ 'has-error': (form.housenumber.$error.required)}">
                        <label class="control-label col-sm-3" for="housenumber">מספר הבית</label>

                        <div class="col-sm-9">
                            <input type="number" name="housenumber" required
                                   placeholder="גודל דירה כולל מרפסת וגינה" class="form-control"
                                   ng-change="saveModel()"
                                   ng-model="vm.card.housenumber">
                        </div>
                    </div>

                    <div class="form-group" style="white-space:nowrap"
                         ng-class="{ 'has-error': (form.yearsofproperty.$error.required)}">
                        <label class="control-label col-sm-3" for="yearsofproperty">גיל הנכס</label>

                        <div class="col-sm-9">
                            <input type="number" ng-max="150" name="yearsofproperty" required
                                   ng-change="saveModel()"
                                   placeholder="כמה שנים הנכס קיים בשנים" class="form-control"
                                   ng-model="vm.card.yearsofproperty">
                            <span style="color:red" ng-show="form.yearsofproperty.$error.max">גיל הנכס גדול מ 150</span>
                        </div>
                    </div>
                    <div class="form-group"  ng-class="{ 'has-error': form.fromfloor.$error.required }">
                        <label class="control-label col-sm-3" for="floor">קומה</label>
                        <div class="col-sm-4">
                            <select name="fromfloor" class="form-control" required
                                    ng-model="vm.card.floor"
                                    ng-change="saveModel()">
                                <option ng-repeat="item in vm.numberfloors" value="{{item}}">
                                    {{item}}
                                </option>
                            </select>
                        </div>
                        <label class="control-label col-sm-1" for="fromfloor">מתוך</label>

                        <div class="col-sm-4">
                            <select name="floor" class="form-control" required
                                    ng-model="vm.card.fromfloor"
                                    ng-change="saveModel()"
                                    required
                                    ng-class="{ 'has-error': form.floor.$error.required }">
                                <option ng-repeat="item in vm.numberfloors" value="{{item}}">
                                    {{item}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" style="white-space:nowrap"
                         ng-class="{ 'has-error': form.squresize.$error.required}">
                        <label class="control-label col-sm-3" for="squresize">גודל דירה</label>

                        <div class="col-sm-9">
                            <input type="number" name="squresize" required
                                   ng-change="saveModel()"
                                   placeholder="גודל דירה כולל מרפסת וגינה" class="form-control"
                                   ng-model="vm.card.squresize">
                        </div>
                    </div>

                    <div class="form-group" style="white-space:nowrap"
                         ng-class="{ 'has-error': form.numberOfRooms.$error.required }">
                        <label class="control-label col-sm-3" for="numberOfRooms">מספר חדרים</label>

                        <div class="col-sm-9">
                            <select name="numberOfRooms" required
                                    ng-change="saveModel()"
                                    class="form-control" ng-model="vm.card.numberofrooms">

                                <option ng-repeat="item in vm.numberOfRooms" value="{{item}}">
                                    {{item}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" style="white-space:nowrap"
                         ng-class="{ 'has-error': form.balcony.$error.required }">
                        <label class="control-label col-sm-3" for="balcony">מרפסת</label>

                        <div class="col-sm-9">
                            <select name="balcony" class="form-control"
                                    ng-change="saveModel()" required
                                    ng-model="vm.card.balcony">
                                <option ng-repeat="item in vm.balconies" value="{{item}}">{{item}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="white-space:nowrap"
                         ng-class="{ 'has-error': form.animals.$error.required }">
                        <label class="control-label col-sm-3" for="animals">מאפשר חיות?</label>

                        <div class="col-sm-9">
                            <select name="animals" required class="form-control"
                                    ng-model="vm.card.animals">
                                <option>כן</option>
                                <option>לא</option>
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" style="white-space:nowrap"
                         ng-class="{ 'has-error': form.romates.$error.required }">
                        <label  class="control-label col-sm-3" for="romates">מאפשר שותפים?</label>

                        <div class="col-sm-9">
                            <select name="romates" class="form-control"
                                    ng-change="saveModel()"
                                    required
                                    ng-model="vm.card.romates">
                                <option>כן</option>
                                <option>לא</option>
                                </option>
                            </select>
                        </div>
                    </div>



                    <div class="form-group" style="white-space:nowrap"
                         ng-class="{ 'has-error': form.furnatures.$error.required }">
                        <label class="control-label col-sm-3" for="furnatures">ריהוט</label>

                        <div class="col-sm-9">
                            <select name="furnatures" class="form-control"
                                    ng-change="saveModel()"
                                    required
                                    ng-model="vm.card.furnatures">
                                <option>כן</option>
                                <option>לא</option>
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group"
                         style="white-space:nowrap">
                        <label class="control-label col-sm-3" for="furnaturedetails">פרוט הריהוט</label>

                        <div class="col-sm-9">
                            <textarea id="new_message1"
                                      style="border-color: gray;width: 100%"
                                      placeholder="פרט בבקשה עך הריהוט בבית"
                                      rows="8" cols="50" ng-model="vm.card.furnaturedetails"/>
                        </div>
                    </div>









                </div>
                <div class="col-md-4">
                    <div class="form-group"
                         ng-class="{ 'has-error': form.aircond.$error.required }">
                        <label class="control-label col-sm-3" for="aircond">מזגן </label>

                        <div class="col-sm-9">
                            <select class="form-control" placeholder="בחר את התצורה של המזגנים בבית"
                                    name="aircond" required
                                    ng-change="getaircond(vm.card.aircond)"
                                    ng-model="vm.card.aircond">
                                <option>אין</option>
                                <option>מיני מרכזי כל הבית</option>
                                <option>שני מיני מרכזיים</option>
                                <option>מזגן יחיד בסלון</option>
                                <option>מזגן יחיד בחדר שינה הורים</option>
                                <option>מזגן עצמאי בכל חדר</option>
                                <option>שני מזגנים</option>
                                <option>שלושה מזגנים</option>
                                <option>יש מזגן רק לא מצאתי ברשימה</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group"
                         ng-class="{ 'has-error': form.parking.$error.required }">
                        <label class="control-label col-sm-3" for="parking">חנייה </label>

                        <div class="col-sm-9">
                            <select class="form-control" placeholder="בחר את התצורה של החנייה אם יש"
                                    name="parking" required
                                    ng-change="getparking(vm.card.parking)"
                                    ng-model="vm.card.parking">
                                <option>אין</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-if="shoparkingoptions"
                         style="white-space:nowrap"
                         ng-class="{ 'has-error': form.parkingtype.$error.required }">
                        <label class="control-label col-sm-3" for="parkingtype">מיקום החנייה</label>

                        <div class="col-sm-9">
                            <select class="form-control" placeholder="בחר את סוג החנייה"
                                    ng-change="saveModel()"
                                    name="parkingtype" required
                                    ng-model="vm.card.parkingtype">
                                <option>קרקע</option>
                                <option>מתחת לקרקע</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-if="shoparkingoptions"
                         style="white-space:nowrap"
                         ng-class="{ 'has-error': form.parkingtype2.$error.required }">
                        <label class="control-label col-sm-3" for="parkingtype2">אופי החנייה</label>

                        <div class="col-sm-9">
                            <select class="form-control" placeholder="בחר את סוג החנייה"
                                    name="parkingtype2" required
                                    ng-change="saveModel()"
                                    ng-model="vm.card.parkingtype2">
                                <option>צמודות אחת ליד השנייה</option>
                                <option>צמודות אחת אחרי השנייה</option>
                                <option>סידור אחר</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group"
                         style="white-space:nowrap"
                         ng-class="{ 'has-error': form.warehouse.$error.required }">
                        <label class="control-label col-sm-3" for="warehouse">מחסן</label>

                        <div class="col-sm-9">
                            <select class="form-control" placeholder="מספר מחסנים"
                                    ng-change="saveModel()"
                                    name="warehouse" required
                                    ng-model="vm.card.warehouse">
                                <option>אין</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group"
                         style="white-space:nowrap"
                         ng-class="{ 'has-error': form.elevator.$error.required }">
                        <label class="control-label col-sm-3" for="elevator">מעליות</label>

                        <div class="col-sm-9">
                            <select class="form-control" placeholder="מספר מעליות"
                                    ng-change="saveModel()"
                                    name="elevator" required
                                    ng-model="vm.card.elevator">
                                <option>אין</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>יותר מחמש</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group"
                         style="white-space:nowrap"
                         ng-class="{ 'has-error': form.mamad.$error.required  }">
                        <label class="control-label col-sm-3" for="elevator">מרחב מוגן</label>

                        <div class="col-sm-9">
                            <select class="form-control" placeholder="האם יש בבית מרחב מוגן?"
                                    ng-change="saveModel()"
                                    name="mamad" required
                                    ng-model="vm.card.mamad">
                                <option>כן</option>
                                <option>לא</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group"
                         style="white-space:nowrap"
                         ng-class="{ 'has-error': form.renovated.$error.required  }">
                        <label class="control-label col-sm-3" for="renovated">מצב הדירה</label>

                        <div class="col-sm-9">
                            <select class="form-control" placeholder="מצב הדירה"
                                    name="renovated" required
                                    ng-change="getrenovated(vm.card.renovated)"
                                    ng-model="vm.card.renovated">
                                <option>כחדשה</option>
                                <option>שופצה במלואה</option>
                                <option>שופצה חלקית</option>
                                <option>מצב מצויין אבל לא עברה שיפוץ</option>
                                <option>זקוקה לשיפוץ</option>
                                <option>משהו אחר</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group" ng-show="shoprenovatedexp"
                         style="white-space:nowrap"
                         ng-class="{ 'has-error': form.renovatedexplnation.$error.required }">
                        <label class="control-label col-sm-3" for="renovatedexplnation">פרט
                            מצב</label>

                        <div class="col-sm-9">
                            <input type="text" name="renovatedexplnation"
                                   placeholder="מה רצית לומר על מצב הדירה?" class="form-control"
                                   ng-model="vm.card.renovatedexplnation">
                        </div>
                    </div>


                    <div class="form-group"
                         style="white-space:nowrap"
                         ng-class="{ 'has-error': form.price.$error.required}">
                        <label class="control-label col-sm-3" for="price">מחיר</label>

                        <div class="col-sm-9">
                            <input type="number" name="price" required
                                   placeholder="מחיר בשקלים" class="form-control"
                                   ng-model="vm.card.price">
                        </div>
                    </div>

                    <div class="form-group"
                         style="white-space:nowrap"
                         ng-class="{ 'has-error': form.handycupt.$error.required }">

                        <div class="col-sm-5 col-sm-offset-2">
                            <label for="handycupt" class="btn btn-info">גישה לנכים
                                <input type="checkbox" checked="true" id="handycupt"
                                       class="badgebox"><span
                                        class="badge">&check;</span></label>
                        </div>

                        <div class="col-sm-5 ">
                            <label for="soragim" class="btn btn-info"> סורגים
                                <input type="checkbox" checked="true" id="soragim"
                                       class="badgebox"><span
                                        ng-checked="vm.card.soragim"
                                        class="badge">&check;</span></label>
                        </div>
                    </div>

                    <div class="form-group"
                         style="white-space:nowrap;margin-top: 50px">
                        <label class="control-label col-sm-3" for="freedetails"> מידע נוסף</label>

                        <div class="col-sm-9">
                            <textarea id="new_message"
                                      style="border-color: gray;width: 100%"
                                      placeholder="ספר על הדירה שלך"
                                      rows="8" cols="50" ng-model="vm.card.freedetails"/>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">

                    <div class="panel panel-info">
                        <div class="panel-heading">פרטים ליצירת קשר</div>
                        <div class="panel-body">

                            <div class="form-group" style="white-space:nowrap">
                                <label class="control-label col-sm-3" for="primarycellphone">נייד
                                    ראשי</label>

                                <div class="col-sm-9">
                                    <input class="form-control input-phone" style="direction: ltr"
                                           placeholder="מספר טלפון נייד ראשי"
                                           class="form-control"
                                           ng-change="saveModel()"
                                           name="primarycellphone" type='text' phone-input
                                           ng-model="vm.card.primarycellphone"/>
                                </div>
                            </div>
                            <div class="form-group" style="white-space:nowrap">
                                <label class="control-label col-sm-3" for="secondarycellphone">נייד
                                    משני</label>

                                <div class="col-sm-9">
                                    <input class="form-control input-phone" style="direction: ltr"
                                           placeholder="מספר טלפון נייד משני"
                                           class="form-control"
                                           ng-change="saveModel()"
                                           name="secondarycellphone" type='text' phone-input
                                           ng-model="vm.card.secondarycellphone"/>

                                </div>
                            </div>
                            <div class="form-group" style="white-space:nowrap">
                                <label class="control-label col-sm-3" for="homephome">טלפון
                                    בבית</label>

                                <div class="col-sm-9">
                                    <input class="form-control input-phone" style="direction: ltr"
                                           placeholder="טלפון בבית"
                                           class="form-control"
                                           ng-change="saveModel()"
                                           name="homephone" type='text' phone-input
                                           ng-model="vm.card.homephone"/>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="officephone">טלפון
                                    במישרד</label>

                                <div class="col-sm-9">
                                    <input class="form-control input-phone" style="direction: ltr"
                                           placeholder="טלפון במישרד"
                                           class="form-control"
                                           ng-change="saveModel()"
                                           name="officephone" type='text' phone-input
                                           ng-model="vm.card.officephone"/>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error': (form.email.$invalid )}">
                                <label class="control-label col-sm-3" for="email">אימייל</label>

                                <div class="col-sm-9">
                                    <input type="email" name="email"
                                           ng-change="saveModel()"
                                           placeholder="אמייל - לא חייב להיות רשום"
                                           class="form-control"
                                           ng-model="vm.card.email">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3" for="contactPerson">איש קשר</label>

                                <div class="col-sm-9">
                                    <input type="text" name="contactPerson"
                                           ng-change="saveModel()"
                                           placeholder="איש קשר - לא חובה לציין"
                                           class="form-control"
                                           ng-model="vm.card.contactPerson">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"  ng-hide="showstate2" style="margin-top: 30px">
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-6">
                        <button type="submit"
                                ng-disabled="form.$invalid"
                                ng-click="saveChanges(form)"
                                class="btn btn-lg btn-primary">שמור נתונים
                        </button>
                    </div>
                </div>

            </div>
            <div class="row" ng-show="showstate2">
                <div ng-include="'client/templates/pictureupload1.html'">

                </div>
                <div ng-include="'client/templates/newhousecrousle.html'">

                </div>
            </div>
            <div class="row" ng-show="showstate2" style="margin-top: 50px">
                <div ng-include="'client/templates/image360_single.html'">

                </div>
            </div>
            <div class="row" ng-show="showstate2"  style="margin-top: 50px">
                <div class="col-md-4 col-md-offset-3" ng-show="vm.showwaitcircle" ng-include="'/client/templates/waitcircle.html'">
                </div>
                <div ng-include="'client/templates/videoregularloader.html'">

                </div>
                <div ng-include="'client/templates/videoregular_single.html'">

                </div>
            </div>
            <div class="row" ng-show="showstate2" style="margin-top: 50px">
                <div class="col-md-4 col-md-offset-3" ng-show="vm.showwaitcircle" ng-include="'/client/templates/waitcircle.html'">
                </div>
                <div ng-include="'client/templates/video360loader.html'">

                </div>
                <div ng-include="'client/templates/video360_single.html'">

                </div>
            </div>
        </form>
    </div>
</div>
