<div class="container-fluid" ng-controller="deletecardController as vm">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">

            <p dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">?????? <u>????? </u>?? ??????.</span></p>

            <p dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">???? <u>?????? </u>?? ?????? ???? ????? ???? ?????? ???? ??????.?????? ?? ??????? ???????? ??? ????? ????? ??? ?? ????? ??? ???? ????? ???</span>
            </p>

            <p dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">???, ?? ????? <u>?????</u> ?? ?????? ?? ??????? ???? ??????? ????? ??????? ????? ????? ???.</span>
            </p>

            <p dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">??? ?? ?????? ????? ????:</span></p>

            <p dir="rtl">&nbsp;</p>


            <form name="captchaForm" novalidate ng-submit="submit(captchaForm.$valid)">
                <div class="row">
                    <div class="form-group col-xs-5">
                        <label for="sel1">????? ????</label>
                        <select class="form-control" required ng-model="capdata.userselect" id="sel1">
                            <option>???? ?? ?????? ???</option>
                            <option>??? ????? ?? ?????? ???</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-5">
                        <!--<div class="g-recaptcha" ng-model="capdata.captcha"  data-sitekey="6Lf-zBcTAAAAAOh60Ylt7u2a2Ry47ZyDoBaDgiL3"></div>-->

                        <div vc-recaptcha key="'6Lf-zBcTAAAAAOh60Ylt7u2a2Ry47ZyDoBaDgiL3'"></div>

                    </div>
                </div>
                <button type="submit" ng-disabled="captchaForm.$invalid" class="btn btn-primary sss">???</button>
            </form>
        </div>
    </div>
</div>