<style>
    input::-webkit-input-placeholder {
        color: black !important;
        font-weight: bold;
    }

    input:-moz-placeholder { /* Firefox 18- */
        color: black !important;
        font-weight: bold;
    }

    input::-moz-placeholder { /* Firefox 19+ */
        color: black !important;
        font-weight: bold;
    }

    input:-ms-input-placeholder {
        color: black !important;
        font-weight: bold;
    }
</style>

<div class="container-fluid" ng-controller="MainController as vm">

    <!-- Modal -->
    <div class="modal" id="msgbox" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">שגיאה בחיפוש</h4>
                </div>
                <div class="modal-body">
                    <p>{{ vm.msgboxcontent }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="color:orange" data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal360video" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div id="video360div" class="valiant360video" style="height: 580px;">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal" id="sendMessageModal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">שלח מייל</h4>
                </div>
                <div class="modal-body">

                    <div class="well" style="padding-bottom:50px">
                        <form name="form1" accept-charset="UTF-8">
                            <div class="form-group">
                                <textarea id="msgbody" required class="form-control"
                                          rows="5" id="new_message"
                                          name="messagebody"
                                          ng-model="messagebody"
                                          placeholder="שלום זה בקשר לדירה"></textarea>
                            </div>

                            <h6 id="cLeft" class="pull-right">500 אותיות נשארו</h6>
                            <button id="sendButton{{ vm.userMessageId }}"
                                    ng-click="sendEmailToUser(vm.userMessageId )"
                                    class="btn btn-info pull-left" ng-disabled="form1.$invalid" type="submit">
                                שלח הודעה
                            </button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal" id="showCommModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">פרטי התקשרות עם בעל הנכס</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-info">
                        <div class="panel-heading">פרטים ליצירת קשר</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group" style="white-space:nowrap">

                                    <label class="control-label col-sm-5" for="primarycellphone">נייד
                                        ראשי</label>

                                    <div class="col-sm-4">
                                        {{ vm.contact.primarycellphone }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label col-sm-5" for="secondarycellphone">נייד
                                    משני</label>

                                <div class="col-sm-4">
                                    {{ vm.contact.secondarycellphone }}
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label col-sm-5" for="homephome">טלפון
                                    בבית</label>

                                <div class="col-sm-4">

                                    {{ vm.contact.homephone }}
                                </div>
                            </div>

                            <div class="row">
                                <label class="control-label col-sm-5" for="officephone">טלפון
                                    במישרד</label>

                                <div class="col-sm-4">
                                    {{ vm.contact.officephone }}
                                </div>
                            </div>

                            <div class="row">
                                <label class="control-label col-sm-5" for="email">אימייל</label>

                                <div class="col-sm-6">
                                    {{ vm.contact.email }}
                                </div>
                            </div>

                            <div class="row">
                                <label class="control-label col-sm-5" for="contactPerson">איש קשר</label>

                                <div class="col-sm-6">
                                    {{ vm.contact.contactPerson }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <div class="row">
                        <h4 style="text-align: center" class="modal-title">הגדרות חיפוש</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label" for="agent">בעל המודעה</label>
                            <select class="form-control"
                                    placeholder="האם אתה קבלן, מתווך או אדם פרטי"
                                    name="agent"
                                    ng-change="UpdateMessageType()"
                                    ng-model="vm.search.agent">
                                <option>פרטי</option>
                                <option>מתווך</option>
                                <option>קבלן</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label ng-show="showmessagetype" class="control-label" for="msggtype">סוג המודעה</label>
                            <select class="form-control" ng-show="showmessagetype"
                                    placeholder="מכירה או השכרה"
                                    name="msggtype"
                                    ng-model="vm.search.messagetype">
                                <option>מכירה</option>
                                <option> השכרה</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <form name="form">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" style="white-space:nowrap"
                                         ng-class="{ 'has-error': form.propertyType.$error.required && form.propertyType.$dirty }">
                                        <label class="control-label col-sm-3" for="propertyType">סוג הנכס</label>


                                        <div class="col-sm-9">
                                            <select class="form-control"
                                                    id="selectPropertyType" multiple="multiple"
                                                    placeholder="בחר את סוג הנכס למכירה"
                                                    name="propertyType"
                                                    ng-model="vm.search.propertyType">
                                                <option>דירה</option>
                                                <option>דירת גן</option>
                                                <option>דירת גג/פנטהאוז</option>
                                                <option>סטודיו</option>
                                                <option>מרתף/פרטר</option>
                                                <option>דופלקס</option>
                                                <option>טריפלקס</option>
                                                <option>דו משפחתי</option>
                                                <option>יחידת דיור</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="form-group" style="white-space:nowrap"
                                         ng-class="{ 'has-error': form.city.$error.required }">
                                        <label class="control-label col-sm-3" for="propertyType">עיר</label>


                                        <div class="col-sm-9">
                                            <ui-select id="city"
                                                       on-select="getcity(vm.search.city)"
                                                       theme="bootstrap" ng-model="vm.search.city"
                                                       required>
                                                <ui-select-match placeholder="בחר עיר">
                                                    <span ng-bind="$select.selected"></span>
                                                </ui-select-match>
                                                <ui-select-choices
                                                        repeat="city in vm.citiesOnly |filter : $select.search">
                                                    <span ng-bind-html="city | highlight : $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="form-group" style="white-space:nowrap"
                                         ng-class="{ 'has-error': form.neighborhood.$error.required }">
                                        <label class="control-label col-sm-3" for="neighborhood">ערים:</label>

                                        <div class="col-sm-9">
                                            <ul class="nav nav-list" ng-repeat="l in vm.citiesSelected">
                                                <li class="active"><a ng-click="removeCityFromList($index)">{{ l.name }}<i
                                                        class=" glyphicon glyphicon-remove pull-left"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="form-group" style="white-space:nowrap"
                                         ng-class="{ 'has-error': form.neighborhood.$error.required }">
                                        <label class="control-label col-sm-3" for="neighborhood">שכונה</label>

                                        <div class="col-sm-9">
                                            <ui-select id="neighborhood"
                                                       on-select="getschona(vm.search.neighborhood)"
                                                       theme="bootstrap" ng-model="vm.search.neighborhood"
                                                       required>
                                                <ui-select-match placeholder="בחר שכונה">
                                                    <span ng-bind="$select.selected.name"></span>
                                                </ui-select-match>
                                                <ui-select-choices
                                                        repeat="n in vm.neighborhoods |filter : $select.search">
                                                    <span ng-bind-html="n.name | highlight : $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>

                                    <div class="form-group" style="white-space:nowrap"
                                         ng-class="{ 'has-error': form.neighborhood.$error.required }">
                                        <label class="control-label col-sm-3" for="neighborhood">שכונות</label>

                                        <div class="col-sm-9">
                                            <ul class="nav nav-list" ng-repeat="l in vm.schonotSelected">
                                                <li class="active"><a ng-click="removeSchonaFromList($index)">{{ l.name
                                                    }}<i class=" glyphicon glyphicon-remove pull-left"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>


                                    <div class="form-group" style="white-space:nowrap"
                                         ng-class="{ 'has-error': (form.yearsofproperty.$error.required && form.yearsofproperty.$dirty)}">
                                        <label class="control-label col-sm-3" for="yearsofproperty">גיל הנכס</label>

                                        <div class="col-sm-9">
                                            <input type="number" ng-max="200" name="yearsofproperty" required
                                                   placeholder="מקסימום גיל הנכס" class="form-control"
                                                   ng-model="vm.search.yearsofproperty">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="floor">קומה</label>

                                        <div class="col-sm-4">
                                            <select name="fromfloor" class="form-control"
                                                    ng-model="vm.search.floor"
                                                    ng-class="{ 'has-error': form.fromfloor.$error.required }">
                                                <option ng-repeat="item in vm.numberfloors" value="{{item}}">
                                                    {{item}}
                                                </option>
                                            </select>
                                        </div>
                                        <label class="control-label col-sm-1" for="fromfloor">מתוך</label>

                                        <div class="col-sm-4">
                                            <select name="floor" class="form-control"
                                                    ng-model="vm.search.fromfloor"
                                                    ng-class="{ 'has-error': form.floor.$error.required }">
                                                <option ng-repeat="item in vm.numberfloors" value="{{item}}">
                                                    {{item}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" style="white-space:nowrap">
                                        <label class="control-label col-sm-3" for="fromprice">ממחיר</label>

                                        <div class="col-sm-4">
                                            <input type="number" name="fromprice" required
                                                   placeholder="ממחיר" class="form-control"
                                                   ng-model="vm.search.fromprice">
                                        </div>
                                        <label class="control-label col-sm-1" style="margin: 0"
                                               for="toprice">עד</label>

                                        <div class="col-sm-4">
                                            <input type="number" name="toprice" required
                                                   placeholder="עד מחיר" class="form-control"
                                                   ng-model="vm.search.toprice">
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" style="white-space:nowrap"
                                         ng-class="{ 'has-error': form.numberofrooms.$error.required }">
                                        <label class="control-label col-sm-3" for="numberofrooms">מספר חדרים</label>

                                        <div class="col-sm-9">
                                            <select name="numberOfRooms"
                                                    class="form-control" ng-model="vm.search.numberofrooms">

                                                <option ng-repeat="item in vm.numberOfRooms" value="{{item}}">
                                                    {{item}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group" style="white-space:nowrap"
                                         ng-class="{ 'has-error': form.balcony.$error.required }">
                                        <label class="control-label col-sm-3" for="balcony">מרפסת</label>

                                        <div class="col-sm-9">
                                            <select name="balcony" class="form-control"
                                                    ng-model="vm.search.balcony">
                                                <option ng-repeat="item in vm.balconies" value="{{item}}">{{item}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group"
                                         ng-class="{ 'has-error': form.aircond.$error.required && form.aircond.$dirty }">
                                        <label class="control-label col-sm-3" for="aircond">מזגן </label>

                                        <div class="col-sm-9">
                                            <select class="form-control"
                                                    placeholder="בחר את התצורה של המזגנים בבית"
                                                    name="aircond"
                                                    ng-change="getaircond(vm.search.aircond)"
                                                    ng-model="vm.search.aircond">
                                                <option>לא משנה לי</option>
                                                <option>כן</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group"
                                         ng-class="{ 'has-error': form.parking.$error.required && form.parking.$dirty }">
                                        <label class="control-label col-sm-3" for="parking">חנייה </label>

                                        <div class="col-sm-9">
                                            <select class="form-control" placeholder="בחר את התצורה של החנייה אם יש"
                                                    name="parking"
                                                    ng-change="getparking(vm.search.parking)"
                                                    ng-model="vm.search.parking">
                                                <option>לא משנה לי</option>
                                                <option>לפחות אחת</option>
                                                <option>לפחות שתיים</option>
                                                <option>לפחות שלוש</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="shoparkingoptions"
                                         style="white-space:nowrap"
                                         ng-class="{ 'has-error': form.parkingtype.$error.required && form.parkingtype.$dirty }">
                                        <label class="control-label col-sm-3" for="parkingtype">מיקום החנייה</label>

                                        <div class="col-sm-9">
                                            <select class="form-control" placeholder="בחר את סוג החנייה"
                                                    name="parkingtype"
                                                    ng-model="vm.search.parkingtype">
                                                <option>לא משנה לי</option>
                                                <option>קרקע</option>
                                                <option>מתחת לקרקע</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="shoparkingoptions2"
                                         style="white-space:nowrap"
                                         ng-class="{ 'has-error': form.parkingtype2.$error.required && form.parkingtype2.$dirty }">
                                        <label class="control-label col-sm-3" for="parkingtype2">אופי החנייה</label>

                                        <div class="col-sm-9">
                                            <select class="form-control" placeholder="בחר את סוג החנייה"
                                                    name="parkingtype2"
                                                    ng-model="vm.search.parkingtype2">
                                                <option>לא משנה לי</option>
                                                <option>צמודות אחת ליד השנייה</option>
                                                <option>צמודות אחת אחרי השנייה</option>
                                                <option>סידור אחר</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group"
                                         style="white-space:nowrap"
                                         ng-class="{ 'has-error': form.warehouse.$error.required && form.warehouse.$dirty }">
                                        <label class="control-label col-sm-3" for="warehouse">מחסן</label>

                                        <div class="col-sm-9">
                                            <select class="form-control" placeholder="מספר מחסנים"
                                                    name="warehouse"
                                                    ng-model="vm.search.warehouse">
                                                <option>לא משנה לי</option>
                                                <option>לפחות אחד</option>
                                                <option>לפחות שניים</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group"
                                         style="white-space:nowrap"
                                         ng-class="{ 'has-error': form.elevator.$error.required && form.elevator.$dirty }">
                                        <label class="control-label col-sm-3" for="elevator">מעליות</label>

                                        <div class="col-sm-9">
                                            <select class="form-control" placeholder="מספר מעליות"
                                                    name="elevator"
                                                    ng-model="vm.search.elevator">
                                                <option>לא משנה לי</option>
                                                <option>לפחות אחת</option>
                                                <option>לפחות שתיים</option>
                                                <option>לפחות שלוש</option>
                                                <option>לפחות ארבע</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group"
                                         style="white-space:nowrap"
                                         ng-class="{ 'has-error': form.mamad.$error.required && form.mamad.$dirty }">
                                        <label class="control-label col-sm-3" for="mamad">מרחב מוגן</label>

                                        <div class="col-sm-9">
                                            <select class="form-control"
                                                    placeholder="האם יש בבית מרחב מוגן?"
                                                    ng-model="vm.search.mamad"
                                                    name="mamad"
                                                    ng-model="vm.search.mamad">
                                                <option>לא משנה לי</option>
                                                <option>כן</option>
                                                <option>לא</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="form-group"
                                         style="white-space:nowrap"
                                         ng-class="{ 'has-error': form.renovated.$error.required && form.renovated.$dirty }">
                                        <label class="control-label col-sm-3" for="renovated">מצב הדירה</label>
                                        <input ng-model="aptstatus" ng-change="onAptStatus()" type="checkbox"> לא משנה
                                        לי
                                        <div class="col-sm-6">
                                            <div ng-show="showaptselect">
                                                <select class="form-control" placeholder="מצב הדירה"
                                                        name="renovated"
                                                        ng-change="getrenovated(vm.search.renovated)"
                                                        id="selectrenovated" multiple="multiple"
                                                        ng-model="vm.search.renovated">
                                                    <option>כחדשה</option>
                                                    <option>שופצה במלואה</option>
                                                    <option>שופצה חלקית</option>
                                                    <option>מצב מצויין אבל לא עברה שיפוץ</option>
                                                    <option>זקוקה לשיפוץ</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="color:orange" data-dismiss="modal">חפש</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-right:1px">
        <div class="col-md-5 col-cx-11">
            <button type="button" class="btn btn-default" style="color:orange" data-toggle="modal"
                    data-target="#myModal">
                הגדר את אפשרויות
                החיפוש שלך

            </button>
            &nbsp;
            &nbsp;
            <div>
                חיפוש במשקפת VR
                <input type="checkbox" ng-model="virtualSearch" name="my-checkbox" checked>
            </div>
        </div>
        <div class="col-md-7 col-cs-11">
        <span style="font-size: 14pt" ng-hide="showNoResultsMessage">

        {{ vm.searchsummery}}

        </span>
        </div>

    </div>

    <div class="row" ng-show="showNoResultsMessage">
        <div class="col-md-10 col-md-offset-2">
            <h2 class="animated infinite bounce">
                לא נמצאו תוצאות המתאימות לחיפוש</h2>
        </div>
        <div class="row" style="height: 1024px">
            &nbsp;
        </div>
    </div>
    <div class="row" style="height: 1024px">
        &nbsp;
    </div>
</div>

    <div class="row" ng-show="showerrorenable">
        <div class="col-md-10 col-md-offset-2">
            <h2 class="animated infinite bounce">{{ showerror }}</h2>

        </div>
    </div>
</div>


    <div ng-repeat="item in vm.cards">
        <div class="row" ng-hide="item.hideheader">
            <div class="panel searchpanel" ng-hide="virtualSearch && item.video360sourceurl.length == 0">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12 col-xs-10 col-md-12">
                     <span style="font-weight: bold">

                    {{ item.propertyType }}

                    ב
                    {{ item.city.city }}
                         </span>

                        <span style="font-weight: bold">
                     {{ item.numberofrooms }}
                       </span>

                            ברחוב
                     <span style="font-weight: bold">
                    {{ item.street.name }}
                            </span>

                            בשכונת
                            {{ item.neighborhood.name }}


                            מספר
                        <span style="font-weight: bold">
                    {{ item.housenumber }}6
                            </span>


                            קומה:
                    <span style="font-weight: bold">
                    {{ item.floor }}
                        </span>
                            מתוך:

                        <span style="font-weight: bold">
                        {{ item.fromfloor }}
                        </span>
                            גודל:
                        <span style="font-weight: bold">
                        {{ item.squresize }}
                            </span>
                            מ"ר

                            מחיר:
                        <span style="font-weight: bold">
                        {{ item.price }}
                        </span>

                            <button type="button" style="color:orange;float:left" ng-click="SendUserMessage(item)"
                                    class="btn btn-sm btn-default">שלח הודעה
                            </button>
                            <button type="button" style="color:orange;float:left" ng-click="ShowCommDetails(item)"
                                    class="btn btn-sm btn-default">פרטי בעל הנכס
                            </button>


                        </div>
                    </div>
                    <div class="row" ng-if="!mobile">
                        <div class="col-sm-1 col-md-1">
                            <div>
                                <div class="didd">
                                    <u>
                                        מרפסת
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-class="{'glyphicon glyphicon glyphicon-ok': (item.balcony > 0) , 'glyphicon glyphicon glyphicon-remove': (item.balcony == 0)}"></span>
                                    <span ng-show="item.balcony > 0">{{ item.balcony }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            <div>
                                <div class="didd">
                                    <u>
                                        מזגן
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-show="item.aircond != 'אין'">{{ item.aircond }}</span>
                                    <span ng-class="{'glyphicon glyphicon glyphicon-remove': (item.aircond == 'אין')}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            <div>
                                <div class="didd">
                                    <u>
                                        סורגים
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-class="{'glyphicon glyphicon glyphicon-ok': (item.soragim == 1) , 'glyphicon glyphicon glyphicon-remove': (item.soragim == 0)}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            <div>
                                <div class="didd">
                                    <u>

                                        גישה לנכים

                                    </u>
                                </div>
                                <div class="didd" style="white-space: nowrap">
                                    <span ng-class="{'glyphicon glyphicon glyphicon-ok': (item.handycupt == 1) , 'glyphicon glyphicon glyphicon-remove': (item.handycupt == 0)}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            <div>
                                <div class="didd">
                                    <u>
                                        חנייה
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-show="item.parking > 0">{{ item.parking }}</span>
                                    <span ng-class="{'glyphicon glyphicon glyphicon-remove': (item.parking == 0)}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1" ng-show="item.parking > 0">
                            <div>
                                <div class="didd">
                                    <u>
                                        מיקום
                                    </u>
                                </div>
                                <div class="didd">
                                    {{ item.parkingType }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1" ng-show="item.parking > 1">
                            <div>
                                <div class="didd">
                                    <u>
                                        סוג חנייה
                                    </u>
                                </div>
                                <div class="didd">
                                    {{ item.parkingtype2 }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            <div>
                                <div class="didd">
                                    <u>
                                        ממ"ד
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-class="{'glyphicon glyphicon glyphicon-ok': (item.mamad.data[0] == 1) , 'glyphicon glyphicon glyphicon-remove': (item.mamad.data[0] == 0)}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            <div>
                                <div class="didd">
                                    <u>
                                        מחסן
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-class="{'glyphicon glyphicon glyphicon-ok': (item.warehouse > 0) , 'glyphicon glyphicon glyphicon-remove': (item.warehouse == 0)}"></span>
                                    <span ng-show="item.warehouse > 0">{{ item.warehouse }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            <div>
                                <div class="didd">
                                    <u>
                                        מעליות
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-show="item.elevator > 0">{{ item.elevator }}</span>
                                    <span ng-class="{'glyphicon glyphicon glyphicon-remove': (item.elevator == 0)}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            <div>
                                <div class="didd" style="white-space: nowrap">
                                    <u>
                                        גיל הנכס
                                    </u>
                                </div>
                                <div class="didd">
                                    {{ item.yearsofproperty }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            <div>
                                <div class="didd" style="white-space: nowrap">
                                    <u>
                                        מצב הנכס
                                    </u>
                                </div>
                                <div class="didd">
                                    {{ item.renovated }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                    <div class="row" ng-if="mobile">
                        <div class="col-xs-2">
                            <div>
                                <div class="didd">
                                    <u>
                                        מרפסת
                                    </u>
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-class="{'glyphicon glyphicon glyphicon-ok': (item.balcony > 0) , 'glyphicon glyphicon glyphicon-remove': (item.balcony == 0)}"></span>
                                    <span ng-show="item.balcony > 0">{{ item.balcony }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <div class="didd">
                                    <u>
                                        מזגן
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-show="item.aircond != 'אין'">{{ item.aircond }}</span>
                                    <span ng-class="{'glyphicon glyphicon glyphicon-remove': (item.aircond == 'אין')}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <div class="didd">
                                    <u>
                                        סורגים
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-class="{'glyphicon glyphicon glyphicon-ok': (item.soragim == 1) , 'glyphicon glyphicon glyphicon-remove': (item.soragim == 0)}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <div class="didd" style="white-space: nowrap">
                                    <u>
                                        גישה לנכים
                                    </u>
                                </div>
                                <div class="didd" style="white-space: nowrap">
                                    <span ng-class="{'glyphicon glyphicon glyphicon-ok': (item.handycupt == 1) , 'glyphicon glyphicon glyphicon-remove': (item.handycupt == 0)}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <div class="didd">
                                    <u>
                                        חנייה
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-show="item.parking > 0">{{ item.parking }}</span>
                                    <span ng-class="{'glyphicon glyphicon glyphicon-remove': (item.parking == 0)}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2" ng-show="item.parking > 0">
                            <div>
                                <div class="didd">
                                    <u>
                                        מיקום
                                    </u>
                                </div>
                                <div class="didd">
                                    {{ item.parkingType }}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row" ng-if="mobile">

                        <div class="col-xs-2" ng-show="item.parking > 1">
                            <div>
                                <div class="didd" style="white-space: nowrap">
                                    <u>
                                        סוג חנייה
                                    </u>
                                </div>
                                <div class="didd">
                                    {{ item.parkingtype2 }}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <div class="didd">
                                    <u>
                                        ממ"ד
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-class="{'glyphicon glyphicon glyphicon-ok': (item.mamad.data[0] == 1) , 'glyphicon glyphicon glyphicon-remove': (item.mamad.data[0] == 0)}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <div class="didd">
                                    <u>
                                        מחסן
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-class="{'glyphicon glyphicon glyphicon-ok': (item.warehouse > 0) , 'glyphicon glyphicon glyphicon-remove': (item.warehouse == 0)}"></span>
                                    <span ng-show="item.warehouse > 0">{{ item.warehouse }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <div class="didd">
                                    <u>
                                        מעליות
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-show="item.elevator > 0">{{ item.elevator }}</span>
                                    <span ng-class="{'glyphicon glyphicon glyphicon-remove': (item.elevator == 0)}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <div class="didd" style="white-space: nowrap">
                                    <u>
                                        גיל הנכס
                                    </u>
                                </div>
                                <div class="didd">
                                    {{ item.yearsofproperty }}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <div class="didd" style="white-space: nowrap">
                                    <u>
                                        מצב הנכס
                                    </u>
                                </div>
                                <div class="didd">
                                    {{ item.renovated }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <!-- end of the table-->
                    <div class="row" style="word-wrap: break-word">
                        {{ item.freedetails}}
                    </div>
                </div>
            </div>
            <div class="row" ng-show="item.show3dtour && !virtualSearch && item.privacyEnabled == 0">
                <div class="h_iframe" style="margin-left: 18px">
                    <img class="ratio" src="/client/images/placeholder.png"/>
                    <iframe id="touriframeid{{ $index }}" width="100%" allowfullscreen
                            frameborder="0"></iframe>
                </div>
            </div>
            <div ng-class="{ 'col-md-12  col-xs-12 col-lg-12 col-sm-12':  !item.image360Exists, 'col-md-5 col-xs-12 col-lg-5 col-sm-12':  item.image360Exists}"
                 ng-show="item.imageExists && !virtualSearch">
                <div style="height: 400px;margin-left: 1px">
                    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                        <uib-slide ng-repeat="slide in item.slides" active="slide.active">
                            <img ng-src="{{slide.image}}"
                                 class="img-responsive"
                                 ng-mouseover="mo()"
                                 ng-mouseleave="ml()"
                                 style="margin:auto;max-height: 400px">

            <div class="row" ng-show="item.privacyEnabled == 1 && (item.show3dtour || item.show360video || item.image360Exists)">
                <div class="col-md-9 col-md-offset-3">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <div>
                                <div>
                                    <lable style="font-weight: bold" >בעל הדירה מבקש קוד לראות כל הסיור הוירטואלי ותמונות ה 360</lable>
                                </div>
                                <div>
                                    <input type="text"
                                           style="width:400px"
                                           name="password"
                                           placeholder="הכנס קוד שניתן לך"
                                           id="password"
                                           maxlength="4"
                                           class="form-control"
                                           ng-model="item.UserAuthorizationKey"
                                           required/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <button type="submit" ng-click="EnterUserAuthCode(item)"
                                        style="width:80px"
                                        class="btn btn-primary">הכנס
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" ng-show="item.showregularvideo && !virtualSearch">
            <a class="animated infinite pulse" style="cursor :pointer;margin-right: 20px;font-size: x-large"
               ng-click="ShowRegularVideo(item)">
                {{ item.videoexistlable }}
            </a>

        </div>

            <div class="row contback" ng-show="mobile && item.show3dtour"
                 style="height: 50px;text-align: center;font-weight: bold">
                השתמש באזור זה לגלול את המסך במובייל
            </div>
            <div class="row" ng-show="item.showPictures > 0 && !virtualSearch && item.privacyEnabled == 0">
                <div ng-class="{ 'col-md-12 col-xs-12 col-lg-12 col-sm-12':  !item.imageExists, 'col-md-7 col-xs-12 col-lg-7 col-sm-12':  item.imageExists}"
                     ng-show="item.image360Exists">
                    <div id="your-pano{{ item.id }}" style="height:500px">

                    </div>
                </div>
                <div ng-class="{ 'col-md-12  col-xs-12 col-lg-12 col-sm-12':  !item.image360Exists, 'col-md-5 col-xs-12 col-lg-5 col-sm-12':  item.image360Exists}"
                     ng-show="item.imageExists && !virtualSearch">
                    <div style="margin-left: 1px">
                        <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                            <uib-slide ng-repeat="slide in item.slides" active="slide.active">
                                <img ng-src="{{slide.image}}"
                                     class="img-responsive"
                                     ng-mouseover="mo()"
                                     ng-mouseleave="ml()"
                                     style="margin:auto;max-height: 400px">

                                <div class="carousel-caption">
                                    <!--<h4>Slide {{$index}}</h4>-->
                                    <p>{{slide.text}}</p>
                                </div>
                            </uib-slide>
                        </uib-carousel>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="item.showregularvideo && !virtualSearch">
                <a class="animated infinite pulse" style="cursor :pointer;margin-right: 20px;font-size: x-large"
                   ng-click="ShowRegularVideo(item)">
                    {{ item.videoexistlable }}
                </a>
            </div>

            <div class="row" ng-show="!virtualSearch">
                <div class="col-md-4 col-md-offset-3" ng-show="false"
                     ng-include="'/client/templates/waitcircle.html'">
                </div>
                <div ng-include="'client/templates/videoregular_multiple.html'">

                </div>
            </div>
            <div class="row" ng-show="item.show360video && !mobile && !virtualSearch  && item.privacyEnabled == 0">
                <a class="animated infinite pulse" style="cursor :pointer;margin-right: 20px;font-size: x-large"
                   ng-click="Show360Video(item, $index)">
                    {{ item.video360existlable }}
                </a>
            </div>
            <div class="row" ng-show="virtualSearch && item.video360sourceurl.length > 0  && item.privacyEnabled == 0">
                <div class="col-md-12">
                    <div class="h_iframe" style="margin-right: 5px;margin-left: 1px">
                        <!-- a transparent image is preferable -->
                        <img class="ratio" src="http://placehold.it/16x9"/>
                        <iframe id="vriframeid{{ $index }}"
                                src="{{item.video360sourceurl[0]}}" frameborder="0" allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




