<div class="container-fluid" ng-controller="mypageController as vm">


    <!-- Modal -->
    <div class="modal" id="sendAllMessageModal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">שלח את הלינק לעמוד שלך במייל</h4>
                </div>
                <form name="form1" accept-charset="UTF-8">
                    <div class="modal-body">

                        <div class="well" style="padding-bottom:50px">


                            <div class="form-group" ng-class="{ 'has-error': (form1.personname.$invalid )}">
                                <label>שמך</label>
                                <input type="text" name="personname"
                                       placeholder="שמך בבקשה שיופיע במייל"
                                       required
                                       class="form-control"
                                       ng-model="personName">

                            </div>

                            <div class="form-group" ng-class="{ 'has-error': (form1.emailtosend.$invalid )}">
                                <label>אמייל</label>
                                <input type="email" name="emailtosend"
                                       placeholder="רשום את המייל של מקבל ההודעה כאן"
                                       required
                                       class="form-control"
                                       ng-model="emailToperson">

                            </div>
                            <div>
                                       <textarea id="msgbody1" required class="form-control"
                                                 rows="5" id="new_message1"
                                                 name="messagebody"
                                                 ng-model="messagebody"
                                                 placeholder="הוסף כמה מילים אם תרצה למקבל ההודעה. המייל יופיע מכתובת האתר apt360"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"  ng-click="SendPageLinkToAFriend()"  ng-disabled="form1.emailtosend.$invalid"   data-dismiss="modal">סגור ושלח</button>
                        <button type="button" class="btn btn-default"  data-dismiss="modal">בטל</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal" id="sendMessageModal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">שלח את המודעה הזו למייל</h4>
                </div>
                <form name="form1" accept-charset="UTF-8">
                    <div class="modal-body">

                        <div class="well" style="padding-bottom:50px">


                                <div class="form-group" ng-class="{ 'has-error': (form1.personname.$invalid )}">
                                    <label>שמך</label>
                                    <input type="text" name="personname"
                                           placeholder="שמך בבקשה שיופיע במייל"
                                           required
                                           class="form-control"
                                           ng-model="personName">

                                </div>

                                <div class="form-group" ng-class="{ 'has-error': (form1.emailtosend.$invalid )}">
                                    <label>אמייל</label>
                                    <input type="email" name="emailtosend"
                                           placeholder="רשום את המייל של מקבל ההודעה כאן"
                                           required
                                           class="form-control"
                                           ng-model="emailToperson">

                                </div>
                                <div>
                                       <textarea id="msgbody" required class="form-control"
                                                 rows="5" id="new_message"
                                                 name="messagebody"
                                                 ng-model="messagebody"
                                                 placeholder="הוסף כמה מילים אם תרצה למקבל ההודעה. המייל יופיע מכתובת האתר apt360"></textarea>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"  ng-click="SendLinkToAFriend()"  ng-disabled="form1.emailtosend.$invalid"   data-dismiss="modal">סגור ושלח</button>
                        <button type="button" class="btn btn-default"  data-dismiss="modal">בטל</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal" id="msgbox" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">שגיאה בחיפוש</h4>
                </div>
                <div class="modal-body">
                    <p>{{ vm.msgboxcontent }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="color:orange" data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal360video" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div id="video360div" class="valiant360video" style="height: 580px;">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button>
                </div>
            </div>
        </div>
    </div>


    <div class="row" style="margin-right:1px">
        <div class="col-md-5 col-cx-11">

            &nbsp;
            &nbsp;
            <div>
                חיפוש במשקפת VR
                <input type="checkbox" id="switch-change" ng-model="virtualSearch" name="my-checkbox" checked>
            </div>
        </div>
        <div class="col-md-7 col-cs-11">
        <span style="font-size: 14pt" ng-hide="showNoResultsMessage">

        {{ vm.searchsummery}}

        </span>


            <button type="button" style="color:orange;float:left" ng-click="SendToAFriendAllPosts()"
                    class="btn btn-sm btn-default">שלח לינק למייל לכל ההודעות
            </button>

        </div>

    </div>

    <div class="row" ng-show="showNoResultsMessage">
        <div class="col-md-10 col-md-offset-2">
            <h2 class="animated infinite bounce">
                לא נמצאו תוצאות המתאימות לחיפוש</h2>
        </div>
        <div class="row" style="height: 1024px">
            &nbsp;
        </div>
    </div>

    <div class="row" ng-show="showerrorenable">
        <div class="col-md-10 col-md-offset-2">
            <h2 class="animated infinite bounce">{{ showerror }}</h2>

        </div>
    </div>


    <div ng-repeat="item in vm.cards">
        <div class="row" ng-hide="item.hideheader">
            <div class="panel searchpanel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12 col-xs-10 col-md-12">
                     <span style="font-weight: bold">

                    {{ item.propertyType }}
                    <span ng-if="item.messagetype == 0" style="font-weight: bold;color:blue">
                        למכירה
                    </span>
                    <span ng-if="item.messagetype == 1" style="font-weight: bold;color:blue">
                        להשכרה
                    </span>

                    ב
                    {{ item.city.city }}
                         </span>

                        <span style="font-weight: bold">
                     {{ item.numberofrooms }}
                       </span>

                            ברחוב
                     <span style="font-weight: bold">
                    {{ item.street.name }}
                            </span>

                            בשכונת
                            {{ item.neighborhood.name }}


                            מספר
                        <span style="font-weight: bold">
                    {{ item.housenumber }}6
                            </span>


                            קומה:
                    <span style="font-weight: bold">
                    {{ item.floor }}
                        </span>
                            מתוך:

                        <span style="font-weight: bold">
                        {{ item.fromfloor }}
                        </span>
                            גודל:
                        <span style="font-weight: bold">
                        {{ item.squresize }}
                            </span>
                            מ"ר

                            מחיר:
                        <span style="font-weight: bold">
                        {{ item.price }}
                        </span>


                            <button type="button" style="color:orange;float:left" ng-click="SendToAFriend(item, $index)"
                                    class="btn btn-sm btn-default"> שלח לינק למייל
                            </button>
                        </div>
                    </div>
                    <div class="row" ng-if="!mobile">
                        <div class="col-sm-1 col-md-1">
                            <div>
                                <div class="didd">
                                    <u>
                                        מרפסת
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-class="{'glyphicon glyphicon glyphicon-ok': (item.balcony > 0) , 'glyphicon glyphicon glyphicon-remove': (item.balcony == 0)}"></span>
                                    <span ng-show="item.balcony > 0">{{ item.balcony }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            <div>
                                <div class="didd">
                                    <u>
                                        מזגן
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-show="item.aircond != 'אין'">{{ item.aircond }}</span>
                                    <span ng-class="{'glyphicon glyphicon glyphicon-remove': (item.aircond == 'אין')}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            <div>
                                <div class="didd">
                                    <u>
                                        סורגים
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-class="{'glyphicon glyphicon glyphicon-ok': (item.soragim == 1) , 'glyphicon glyphicon glyphicon-remove': (item.soragim == 0)}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            <div>
                                <div class="didd">
                                    <u>

                                        גישה לנכים

                                    </u>
                                </div>
                                <div class="didd" style="white-space: nowrap">
                                    <span ng-class="{'glyphicon glyphicon glyphicon-ok': (item.handycupt == 1) , 'glyphicon glyphicon glyphicon-remove': (item.handycupt == 0)}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            <div>
                                <div class="didd">
                                    <u>
                                        חנייה
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-show="item.parking > 0">{{ item.parking }}</span>
                                    <span ng-class="{'glyphicon glyphicon glyphicon-remove': (item.parking == 0)}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1" ng-show="item.parking > 0">
                            <div>
                                <div class="didd">
                                    <u>
                                        מיקום
                                    </u>
                                </div>
                                <div class="didd">
                                    {{ item.parkingType }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1" ng-show="item.parking > 1">
                            <div>
                                <div class="didd">
                                    <u>
                                        סוג חנייה
                                    </u>
                                </div>
                                <div class="didd">
                                    {{ item.parkingtype2 }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            <div>
                                <div class="didd">
                                    <u>
                                        ממ"ד
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-class="{'glyphicon glyphicon glyphicon-ok': (item.mamad.data[0] == 1) , 'glyphicon glyphicon glyphicon-remove': (item.mamad.data[0] == 0)}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            <div>
                                <div class="didd">
                                    <u>
                                        מחסן
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-class="{'glyphicon glyphicon glyphicon-ok': (item.warehouse > 0) , 'glyphicon glyphicon glyphicon-remove': (item.warehouse == 0)}"></span>
                                    <span ng-show="item.warehouse > 0">{{ item.warehouse }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            <div>
                                <div class="didd">
                                    <u>
                                        מעליות
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-show="item.elevator > 0">{{ item.elevator }}</span>
                                    <span ng-class="{'glyphicon glyphicon glyphicon-remove': (item.elevator == 0)}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            <div>
                                <div class="didd" style="white-space: nowrap">
                                    <u>
                                        גיל הנכס
                                    </u>
                                </div>
                                <div class="didd">
                                    {{ item.yearsofproperty }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1">
                            <div>
                                <div class="didd" style="white-space: nowrap">
                                    <u>
                                        מצב הנכס
                                    </u>
                                </div>
                                <div class="didd">
                                    {{ item.renovated }}
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row" ng-if="mobile">
                        <div class="col-xs-2">
                            <div>
                                <div class="didd">
                                    <u>
                                        מרפסת
                                    </u>
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-class="{'glyphicon glyphicon glyphicon-ok': (item.balcony > 0) , 'glyphicon glyphicon glyphicon-remove': (item.balcony == 0)}"></span>
                                    <span ng-show="item.balcony > 0">{{ item.balcony }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <div class="didd">
                                    <u>
                                        מזגן
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-show="item.aircond != 'אין'">{{ item.aircond }}</span>
                                    <span ng-class="{'glyphicon glyphicon glyphicon-remove': (item.aircond == 'אין')}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <div class="didd">
                                    <u>
                                        סורגים
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-class="{'glyphicon glyphicon glyphicon-ok': (item.soragim == 1) , 'glyphicon glyphicon glyphicon-remove': (item.soragim == 0)}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <div class="didd" style="white-space: nowrap">
                                    <u>
                                        גישה לנכים
                                    </u>
                                </div>
                                <div class="didd" style="white-space: nowrap">
                                    <span ng-class="{'glyphicon glyphicon glyphicon-ok': (item.handycupt == 1) , 'glyphicon glyphicon glyphicon-remove': (item.handycupt == 0)}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <div class="didd">
                                    <u>
                                        חנייה
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-show="item.parking > 0">{{ item.parking }}</span>
                                    <span ng-class="{'glyphicon glyphicon glyphicon-remove': (item.parking == 0)}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2" ng-show="item.parking > 0">
                            <div>
                                <div class="didd">
                                    <u>
                                        מיקום
                                    </u>
                                </div>
                                <div class="didd">
                                    {{ item.parkingType }}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row" ng-if="mobile">

                        <div class="col-xs-2" ng-show="item.parking > 1">
                            <div>
                                <div class="didd" style="white-space: nowrap">
                                    <u>
                                        סוג חנייה
                                    </u>
                                </div>
                                <div class="didd">
                                    {{ item.parkingtype2 }}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <div class="didd">
                                    <u>
                                        ממ"ד
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-class="{'glyphicon glyphicon glyphicon-ok': (item.mamad.data[0] == 1) , 'glyphicon glyphicon glyphicon-remove': (item.mamad.data[0] == 0)}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <div class="didd">
                                    <u>
                                        מחסן
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-class="{'glyphicon glyphicon glyphicon-ok': (item.warehouse > 0) , 'glyphicon glyphicon glyphicon-remove': (item.warehouse == 0)}"></span>
                                    <span ng-show="item.warehouse > 0">{{ item.warehouse }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <div class="didd">
                                    <u>
                                        מעליות
                                    </u>
                                </div>
                                <div class="didd">
                                    <span ng-show="item.elevator > 0">{{ item.elevator }}</span>
                                    <span ng-class="{'glyphicon glyphicon glyphicon-remove': (item.elevator == 0)}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <div class="didd" style="white-space: nowrap">
                                    <u>
                                        גיל הנכס
                                    </u>
                                </div>
                                <div class="didd">
                                    {{ item.yearsofproperty }}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <div class="didd" style="white-space: nowrap">
                                    <u>
                                        מצב הנכס
                                    </u>
                                </div>
                                <div class="didd">
                                    {{ item.renovated }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- end of the table-->
                    <div class="row" style="word-wrap: break-word">
                        {{ item.freedetails}}
                    </div>
                </div>
            </div>
            <div class="row" ng-show="item.show3dtour && !virtualSearch">
                <div class="h_iframe" style="margin-left: 18px">
                    <img class="ratio" src="/client/images/placeholder.png"/>
                    <iframe id="touriframeid{{ $index }}" width="100%" allowfullscreen
                            frameborder="0"></iframe>
                </div>
            </div>
            <div class="row contback" ng-show="mobile && item.show3dtour"
                 style="height: 50px;text-align: center;font-weight: bold">
                השתמש באזור זה לגלול את המסך במובייל
            </div>
            <div class="row" ng-show="item.showPictures > 0 && !virtualSearch">
                <div ng-class="{ 'col-md-12 col-xs-12 col-lg-12 col-sm-12':  !item.imageExists, 'col-md-7 col-xs-12 col-lg-7 col-sm-12':  item.imageExists}"
                     ng-show="item.image360Exists">
                    <div id="your-pano{{ item.id }}" style="height:500px">

                    </div>
                </div>
                <div ng-class="{ 'col-md-12  col-xs-12 col-lg-12 col-sm-12':  !item.image360Exists, 'col-md-5 col-xs-12 col-lg-5 col-sm-12':  item.image360Exists}"
                     ng-show="item.imageExists && !virtualSearch">
                    <div style="margin-left: 1px">
                        <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                            <uib-slide ng-repeat="slide in item.slides" active="slide.active">
                                <img ng-src="{{slide.image}}"
                                     class="img-responsive"
                                     ng-mouseover="mo()"
                                     ng-mouseleave="ml()"
                                     style="margin:auto;max-height: 400px">

                                <div class="carousel-caption">
                                    <!--<h4>Slide {{$index}}</h4>-->
                                    <p>{{slide.text}}</p>
                                </div>
                            </uib-slide>
                        </uib-carousel>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="item.showregularvideo && !virtualSearch">
                <a class="animated infinite pulse" style="cursor :pointer;margin-right: 20px;font-size: x-large"
                   ng-click="ShowRegularVideo(item)">
                    {{ item.videoexistlable }}
                </a>

            </div>

            <div class="row" ng-show="!virtualSearch">
                <div class="col-md-4 col-md-offset-3" ng-show="false"
                     ng-include="'/client/templates/waitcircle.html'">
                </div>
                <div ng-include="'client/templates/videoregular_multiple.html'">

                </div>
            </div>
            <div class="row" ng-if="item.show360video && !mobile && !virtualSearch">
                <a class="animated infinite pulse" style="cursor :pointer;margin-right: 20px;font-size: x-large"
                   ng-click="Show360Video(item, $index)">
                    {{ item.video360existlable }}
                </a>
            </div>
            <div class="row" ng-if="virtualSearch">
                <div class="col-md-12">
                    <div class="h_iframe" style="margin-right: 5px;margin-left: 1px">
                        <!-- a transparent image is preferable -->
                        <img class="ratio" src="http://placehold.it/16x9"/>
                        <iframe src="/upload360video/welcome.mp4" frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>