<div class="container-fluid">

    <div class="row" style="margin: 20px">
        <div class="col-md-10">

            <div dir="rtl"><span style="font-size:22px;"><span style="color:#FF8C00;"><span
                    style="font-family:arial,helvetica,sans-serif;">מידע על פרטיות ושמירה על פרטיותכם באתר Apt360</span></span></span>
            </div>

            <div dir="rtl">&nbsp;</div>

            <div dir="rtl"><span
                    style="font-family:arial,helvetica,sans-serif;">חשבנו הרבה על הפרטיות שלכם באתר שלנו.</span></div>

            <div dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">מכיון שהמודעות פתוחות לכל אחד אפילו מבלי צורך להרשם ואילו רק במייל אנחנו רוצים שתרגישו&nbsp;</span>
            </div>

            <div dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">שכל הפרטים שלכם מוגנים ואתם שולטים למי להראות את הדירה ולכן דאגנו לנושאים הבאים:</span>
            </div>

            <div dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">1. גישה לאתר תהיה דרך שרת מוצפן ב HTTPS וזה אומר שפתיחת חשבון וכניסה לחשבון קיים יהיו מוגנים</span>
            </div>

            <div dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">2.אנחנו לעולם לא נמסור את הפרטים שלכם לאף חברה חיצונית.</span>
            </div>

            <div dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">&nbsp; &nbsp;יש אתרים רבים שמנצלים את התעבורה באתר ואת הפרטים שאנשים משאירים כולל email ומספרי&nbsp;</span>
            </div>

            <div dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">&nbsp;&nbsp; טלפון ומוכרים את הפרטים הללו. אנחנו מתחייבים לא לעשות את זה גם אם נהיה אתר מספר אחת בארץ.</span>
            </div>

            <div dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">3.מפרסם שפירסם דירה ורוצה למחוק את המודעה יוכל לעשות זאת לחלוטין.</span>
            </div>

            <div dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">4.מפרסם שפירסם באתר וסיים את המכירה ורוצה להסיר גם את החשבון שלו יוכל לעשות כן.</span>
            </div>

            <div dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">&nbsp;&nbsp; בכך שום פרט, תמונה , וידאו או סיור וירטואלי לא ישארו באתר שלנו.</span>
            </div>

            <div dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">&nbsp;&nbsp; &nbsp;לפתוח חשבון זה פשוט מאד כך שאם תחזור בעוד שנה או יותר תוכלו לפתוח חשבון בינתיים תדאו&nbsp;</span>
            </div>

            <div dir="rtl"><font face="arial, helvetica, sans-serif">&nbsp; &nbsp; שאין לכם שום חשבון אצלנו.</font>
            </div>

            <div dir="rtl"><font face="arial, helvetica, sans-serif">&nbsp;&nbsp; &nbsp;וזה הכל בשביל הפרטיות שלכם.לנו
                אין צורך לאסוף משתמשים ברשומות שלנו אם הם סיימו פעילות.</font></div>

            <div dir="rtl"><font face="arial, helvetica, sans-serif">&nbsp; &nbsp; נוסיף שאם רכשתם סיור וירטואלי דרכנו
                או צילום תמונות ב 360, וידאו ב 360 אנחנו נדאג לתת לכם להוריד את המידע הזה למחשב שלכם ותוכלו להעביר אותו
                או למכור אותו לבעל הדירה החדש.</font></div>

            <div dir="rtl"><font face="arial, helvetica, sans-serif">5. הסיורים הורטואלים , הוידאו ב 360, התמונות ב 360
                של הדירה שלכם שעומדת למכירה או השכרה&nbsp;</font></div>

            <div dir="rtl"><font face="arial, helvetica, sans-serif">&nbsp;&nbsp; &nbsp;יהיו מוגנים בקוד.</font></div>

            <div dir="rtl"><font face="arial, helvetica, sans-serif">מה זה אומר:</font></div>

            <div dir="rtl"><font face="arial, helvetica, sans-serif">&nbsp; &nbsp; &nbsp; שאתם מפרסמים דירה, אתם קובעים
                בעת הפרסום האם המידע הזה יהיה זמין לכולם( תזכרו כל אחד יכול להכנס לאתר ולבצע חיפוש)&nbsp;</font></div>

            <div dir="rtl"><font face="arial, helvetica, sans-serif">או שהמתעניין בדירה יצטרך קודם לדבר איתכם בטלפון
                ובהחלטתכם תוכלו לתת לו את הקוד שהכנסתם</font></div>

            <div dir="rtl"><font face="arial, helvetica, sans-serif">למודעה בעת יצירתה.</font></div>

            <div dir="rtl">רק הטקסט החופשי פרטי המודעה ותמונות הסטילס יהיו פתוחות לקהל הרחב.</div>

            <div dir="rtl">אם במידה ואתם חושבים שגם תמונות הסטילס צריכות להיות מוגנות צרו קשר ואנחנו נשמח לעזור.</div>

            <div dir="rtl">&nbsp;</div>

            <div dir="rtl"><u>השארת פרטים ליצירת קשר.</u></div>

            <div dir="rtl">&nbsp;</div>

            <div dir="rtl">לנו אין קושי טכני לתת לכם לפרסם את כל הפרטים האישיים שלכם ליצירת המודעה</div>

            <div dir="rtl">וזה מה שעשינו בהתחלה אבל זה שובר את כל עניין הפרטיות.</div>

            <div dir="rtl">&nbsp;</div>

            <div dir="rtl">ולכן הדרך שמצאנו לנכון לתת לכם לפרסם את הטלפון שלכם היא באמצעות 1900.</div>

            <div dir="rtl">1900 הוא שרות נהדר שמאפשר לנו לפרסם מספר שמקשר את המספר שלכם למודעה ובכך&nbsp;</div>

            <div dir="rtl">אף אחד לא ידע את המספר שלכם אלא אם כן בשיחת הטלפון שלו תתנו לא.</div>

            <div dir="rtl">&nbsp;</div>

            <div dir="rtl">העלות היא חצי שקל לדקת שיחה. אנחנו נעשה מאמצים להפחית גם את זה לתקופה מסויימת.</div>

            <div dir="rtl">המחיר של השיחה לעומת הפרטיות של מספר טלפון אישי שמקושר לדירה או עצום ולכם עדיף מכל</div>

            <div dir="rtl">בחינה.</div>

            <div dir="rtl">&nbsp;</div>

            <div dir="rtl">שימו לב שישנה אפשרות לשלוח למפרסם מייל דרך האתר. המייל ישלח את כתובת המייל של האתר.</div>

            <div dir="rtl">מתווכים יוכלו בשלב זה להשאיר פרטים אך יוכלו לבחור אם להשתמש בשרות של 1900 גם כן.</div>

            <div dir="rtl">&nbsp;</div>

            <div dir="rtl">&nbsp;</div>

            <div dir="rtl">&nbsp;</div>

            <div dir="rtl">&nbsp;</div>

            <div dir="rtl">&nbsp;</div>

            <div dir="rtl">&nbsp;</div>

            <div dir="rtl">&nbsp;</div>

            <div dir="rtl">&nbsp;</div>
        </div>
    </div>
</div>