<div class="container-fluid">

    <div class="row" style="margin: 20px">
        <div class="col-md-10">
            <p>
            <span style="color:orange;font-size: 18pt">
            תקנון האתר
            </span>
                <br>
                Apt360 מציע למפרסמים פרטיים, מתווכים וקבלנים לפרסם דירות אצלנו באתר בחינם.
                <br>
                אנחנו מציעים שרותי צילום פנורמה , צילום 360 בוידאו , סיור וירטואלי ו virtual realty אצלכם בבית או במישרד
                כתוספת
                למודעה
                שלכם.
                <br>
                מודעה בעלת אחת או יותר מהאפשרויות שאנחנו מציעים תעזור לכם להראות את הדירה מהר יותר ולחסוך את הצורך
                הראשוני
                להיפגש
                ולראות דירות.
                <br>
                מתווכים אשר משתמשים באתר להראות דירות רבות יכולים לפרסם עשרות דירות בחינם עד תכולה של 1 GIGA של
                תמונות,וידאו
                דו
                מימדי , וידאו ב 360 אשר ניתן לראות במחשב או במשקפת VR מיוחדת ולא יקרה.
                <br>
                אין להעלות תמונות פרסום שלא קשורות לנכס וכן וידאו שמפרסם את המוכר או סוכן הנדלן.
                יש להעלות וידאו ותמונות ראויות ולא פוגעות בכל צורה שהיא.
                <br>
                מי שיעלה תוכן שאינו מתאים חשבונו יסגר והוא יוסר מהאתר לתקופה של שנה.
                מודעות יפורסמו באתר למשך חצי שנה ולאחר מכן כל תוכנם ימחק. הודעה על כך תשלח למפרסם.
            </p>
            <p>

            </p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>