<div class="container" ng-controller="usersviewController as vm">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                <td>ID</td>
                <td>User Email</td>
                <td>Agent</td>
                <td>Guid</td>
                <td>verified</td>
                <td>Host</td>
                <td>Dated</td>
                </thead>
                <tr ng-repeat="user in vm.users">
                    <td>
                        {{ user.id }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {{ user.agent }}
                    </td>
                    <td>
                        {{ user.userguid }}
                    </td>
                    <td>
                        {{ user.verified }}
                    </td>
                    <td>
                        {{ user.host }}
                    </td>
                    <td>
                        {{ user.dated }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>