<div class="container-fluid">

    <div class="row" style="margin-left: 1px">
        <div class="col-md-6">
            <p dir="rtl" style="text-align: center;"><span style="font-size:24px;"><span style="color:#FF0000;"><span
                    style="font-family:arial,helvetica,sans-serif;">וירטואל ראליטי - virtual reality</span></span></span>
            </p>

            <div dir="rtl"><span style="font-size:14px;">שיא הטכנולוגיה כבר כאן ואנחנו משלבים אותה באתר שלנו.</span>
            </div>

            <div dir="rtl"><span style="font-size: 14px;">ישנם שני מכשירים שולטים בעולם ה VR והם של Samsung בשיתוף עם oculus</span>
            </div>

            <div dir="rtl"><span style="font-size: 14px;">והם ה oculus rift &nbsp;ו ה Samsung gear vr.</span></div>

            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <img src="client/images/samsunggearvr.jpg" height="200" width="200" class="img-responsive">
                </div>
                <div class="col-md-6 col-xs-6">
                    <img src="client/images/oculusrift.jpg" height="200" width="200" class="img-responsive">
                </div>
            </div>


            <ul dir="rtl">
                <li>המחיר של <a target="_blank" href="http://www.samsung.com/global/galaxy/wearables/gear-vr/">Samsung
                    gear vr</a> הוא 100$&nbsp;</li>
                <li>המחיר של ה <a target="_blank" href="https://www.oculus.com/en-us/">Oculus rift</a> &nbsp;הוא 500$ ,
                    יצא במרץ 2016 והוא כולל ידית משחק
                </li>
            </ul>

            <div dir="rtl">ישנו גם ה <a target="_blank" href="https://www.google.com/get/cardboard/">Google card
                board</a> שהוא אביזר מקרטון שעולה מעט וניתן גם להשתמש בטלפון לראות VR
            </div>

            <ul dir="rtl">
                <li>המחיר של google card board הוא באזור 10$</li>
            </ul>

            <div dir="rtl">&nbsp;</div>

            <div dir="rtl">הנגן של youtube , שהוא המתקדם ביותר בעולם לאתרי אינטרנט לא רק שנותן לנו לראות וידאו ב 360
            </div>

            <div dir="rtl">על מסך המחשב אלה ניתן לראות בו את הוידאו בתוך המשקפות שהוצגו למעלה.</div>

            <div dir="rtl">&nbsp;</div>
        </div>
        <div class="col-md-6">
            <div class="h_iframe">
                <!-- a transparent image is preferable -->
                <img class="ratio" src="http://placehold.it/16x9"/>
                <iframe  src="/upload360video/welcome.mp4" frameborder="0"
                         allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row" style="margin-right: 1px">
        <div class="col-md-12">
            <div dir="rtl">האפשרות הזו נותנת המון למתווכים ולקבלנים אשר יכולים לפרסם כאן דירות ולהפנות
                לקוחות&nbsp;</div>

            <div dir="rtl">לראות אותם בכל המימדים.</div>

            <div dir="rtl">מי שלא ניסה אז רק נגיד שזה מדהים.</div>

            <div dir="rtl">&nbsp;</div>

            <div dir="rtl">כאמור הנגן של youtube מאפשר לראות 360, אז איך עושים את זה אתם שואלים?</div>

            <div dir="rtl">1. כאשר מפרסם מעלה וידאו ב 360 אנחנו נציג את הוידאו גם עם הנגן של youtube</div>

            <div dir="rtl">&nbsp;</div>

            <div dir="rtl">למי שיש מוצר מבית oculus והתקין את כל התוכנה יש להוריד את דפדפן ה virtual realty
                הראשון&nbsp;</div>

            <div dir="rtl">מבית Samsung.</div>

            <div dir="rtl">הדפדפן הזה מאפשר לגלוש באתרים בעולם הוירטואלי.</div>

            <div dir="rtl">אז פותחים את הדפדפן וגולשים לעמוד שבו מוצג הוידאו ב 360 עם הנגן של youtube.</div>

            <div dir="rtl">בעמוד זה&nbsp;
                למעלה יש וידאו דוגמא.
            </div>

            <div dir="rtl">פותחים את העמוד הנל בדפדפן הוירטואלי ולוחצים על הפתור של מסך מלא( בצד ימין למעלה)</div>

            <div dir="rtl">משם,במשקפת אתם תראו <u>שלוש אופציות. אחת מהן היא 360</u></div>

            <div dir="rtl">ברגע שלחצם על ה 360 אתם תראו את הוידאו מסביבכם ותרגישו שאתם שם!</div>

            <div dir="rtl">&nbsp;</div>

            <div dir="rtl">מתווכים וקבלנים יכולים להעלות עד<u> אחד גיגה&nbsp;</u>של תוכן מה שהופך את apt360 לכלי עבודה&nbsp;
            </div>

            <div dir="rtl">מול לקחות.</div>

            <div dir="rtl">הלקוחות יכולים להתרשם באינטרנט, ולבוא למשרד ולראות מספר רק של דירות מבלי לנסוע לכל</div>

            <div dir="rtl">אחת ואחת, דבר שחוסך הרבה זמן לכל הצצדים.</div>

            <div dir="rtl">&nbsp;</div>
        </div>


    </div>

</div>
