<div class="container-fluid">
<div class="row">
    <div class="col-md-8 col-xs-12">
        <span style="font-size: 20pt">
    מהו סיור וירטואלי?
            </span>
        <br>
        סיור וירטואלי הוא אוסף של תמונות פנורמה - תמונות 360 מעלות.
        <br>
        את התמונות מצלמים במצלמה מיוחדת, ניתן לצלם גם בטלפון הנייד עם ה surround shooting בגלקסי 5 או באמצעות אפליקציה
        של גוגל סטרית ( google street view) באייפון.
        <br>
        יש גם אפשרות לצלם תמונות סטילס בודדות ובאמצעות תוכנת stiching ליצור תמונת פנורמה.
        <br>
        הדרך הטובה , המהירה היא לצלם באמצעות מצלמת 360.
        אגב היא לאו דווקא האיכותית ביותר.
        <br>
        לצלם תמונות פנורמה איכותית ניתן לעשות עם מצלמה טובה ועדשת fish eye ואז באמצעות תוכנה לחבר את הכל.
        <br>
        אנחנו נותנים את כל השרותים , מהירות בשביל כמות ואיכות שצריך כך שכל אחד יוכל לקבל את התמונה שירצה.
        <br>
        בסיור הוירטואלי תראו חצים או עיגולים על הריצפה,על דלת.
        <br>
        חפשו אותם! הם יובילו אתכם קדימה בהמשך הבית.
        <br>
        נקודות אלא נקראים hot spots - קישורים חמים
        <br>
        סיור וירטואלי יכול להכיל עשרות תמונות פנורמה וכך להכיל את כל הבית , אפילו אם יש כמה קומות בבית.
        <br>
        הסיורים הוירטואלים בבתים שפרסמתם לא יהיו פתוחים ישר לכולם , אלא מוגנים על ידי קוד אישי שאותו תוכלו לתת
        אחרי שיחה בטלפון למי שתרצו. כמובן שתוכלו לבחור בעת פרסום המודעה האם כן להשאיר את הסיור פתוח לכולם ללא קוד.
        <br>
        לנו בתוך תמונות פנורמה יש ללחוץ על הכפתור השמאלי של העכבר ותוך כדי לחיצה לנוע לכל הכיוונים.
        <br>
        בכך אתם תנועו בחדר ותוכלו לראות את כולו.
        ניתן לבצע הקרבה והרחקה - Zomming in and out על ידי גלילה של העכבר.
        <br>
        שימו לב, פעולה זו שאתם בתוך התמונה לא תאפשר לכם להשתמש ב scroll של החלון ובשביל להמשיך לראות את
        שאר המודעות ולנווט באתר תצטרכו להשתמש ב scrolling של החלון או להוציא את העכבר מהסיור.
        <br>
        <br>
        <br>
       <a ui-sref="/"> בעמוד הבית</a> ישנו סיור לדוגמא שבו תוכלו לנווט בתוך הבית.
        <br>
        חפשו את הקישורים על הריצפה ותנועו בתוך הדירה לדוגמא.



    </div>
</div>
</div>