<style>
    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active,
    .btn-default.active {
        color: black;
        background-color: white;
    }

    .btn-default:active, .btn-default.active, .btn-default:visited
    .btn-default:active:hover, .btn-default.active:hover {
        color: black;
        background-color: white;
    }

    .btn-default {
        color: black;
        background-color: white;
    }

    .btn-default:hover {
        color: black;
        background-color: white
    }

    .btn-default:focus {
        color: black;
        background-color: white
    }

    .video-container {
        position: relative; /* keeps the aspect ratio */
        padding-bottom: 56.25%; /* fine tunes the video positioning */
        padding-top: 60px;
        overflow: hidden;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .container1 {
        margin-left: 20px;
        margin-right: 20px;
    }

</style>
<div class="container1" ng-controller="welcomeController as vm">

    <!--<a ui-sref="virtualtour">vtssssssssssssssss</a>-->


    <div class="row">
        <style>

            #viewer {
                z-index: 1;
                width: 100%;
                height: 500px;
                position: absolute;
                top: 70px;
            }

            #preloadContainer {
                z-index: 2;
                width: 100%;
                position: absolute;
                top: 50px;
                height: 500px;
                transition: opacity 1s;
                -webkit-transition: opacity 1s;
                -moz-transition: opacity 1s;
                -o-transition: opacity 1s;
            }

            #preloadError {
                visibility: hidden;
                z-index: 3;
                bottom: 10%;
                width: 100%;
                text-align: center;
                transition: opacity 1s;
                -webkit-transition: opacity 1s;
                -moz-transition: opacity 1s;
                -o-transition: opacity 1s;
            }
        </style>

        <div id="preloadContainer" style="background-color:rgba(255,255,255,1)">
            <div style="z-index: 4; position: absolute; left: 0%; top: 50%; width: 100.00%; height: 10.00%">
            </div>
        </div>
        <div id="preloadError"></div>
        <div id="viewer">

        </div>
    </div>

    <div class="row" style="margin-top: 570px">
        <div style="margin-right: 20px">
            <div dir="rtl">&nbsp;<span style="font-family:arial,helvetica,sans-serif;">ברוכים הבאים לאתר דירות ב 360 - 360 appartments. אתר חדשני לחיפוש דירות לקנייה והשכרה מאנשים פרטיים,מתווכים ודירות חדשות של קבלנים.</span>
            </div>
            <div dir="rtl"><font face="arial, helvetica, sans-serif">לחץ והזז את העכבר לראות את הוידאו ב 360.</font>
            </div>
            <div dir="rtl"><font face="arial, helvetica, sans-serif">כל המוכרים יכולים להעלות תמונות רגילות באיכות
                גבוהה,
                תמונות 360, וידאו וידאו ב 360. לפרטים נוספים לחץ <a href="http://ddd">כאן</a></font>
                <button type="button" ui-sref="main" class="btn btn-default"
                        style="color:orange;float:left;width: 200px">
                    חפש דירות
                </button>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 15px">
        <div class="col-md-6  col-lg-6">


            <div id="welcome360imageid" class="welcome360image" style="height: 580px">


            </div>
            תמונת 360 מעלות. אפשר לראות את כל האזור על ידי לחיצה על העכבר והזזה.
            <br>
            את הצילום ניתן לעשות עם טלפון נייד באפליקציה sourround shotting או google street view ב אייפון
            <a style="cursor:pointer" ui-sref="image360howto({ helptopic: 'image360' })">לפרטים נוספים</a>
        </div>
        <div class="col-md-6 col-lg-6">

            <!--
            <div id="welcomevideodiv" class="valiant360video" style="height: 580px">

            </div>
            -->
            <div class="video-container">
                <iframe width="48%" height="50%" src="https://www.youtube.com/embed/ULixPLH-WA4" frameborder="0"
                        allowfullscreen></iframe>
            </div>
            ניתן לצלם וידאו ב360 על ידי מצלמה מיוחדת
            אנחנו נתונים את השרות במחיר של 75 שקלים בלבד
            <a style="cursor:pointer" ui-sref="video360howto({ helptopic: 'video360' })">לפרטים נוספים</a>

        </div>
    </div>
</div>